<app-navbar></app-navbar>

<div class="container mt-2" *ngIf="searchItems">
  <div class="row">
    <!-- <h1 class="categoryName">{{searchitem.categoryID}}</h1> -->
    <div class="col-md-3 col-sm-6 colForMarginBottom" *ngFor="let searchitem of searchItems">
      <div class="card card-block card-for-absolute" (click)="productInfo(searchitem)">
        <img class="vip" *ngIf="searchitem.state==2" src="../../../assets/images/important.png" alt="">
        <img class="vip" *ngIf="searchitem.state==1" src="../../../assets/images/stopwatch.png" alt="">
        <img src="{{searchitem.image}}" alt="Photo of sunset">
        <h5 class="terxt-title card-title mt-3 mb-3">{{searchitem.name}}</h5>
        <p class="terxt-title card-text">{{searchitem.description}}</p>
      </div>
    </div>
  </div>
</div>
