<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="wrapper">
  <div class="container">
  <div class="row clearfix">
      <div class="col-lg-12">
          <div class="card chat-app">
              <div id="plist" class="people-list">
                  <div class="input-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-search"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="Search...">
                  </div>
                  <ul class="list-unstyled chat-list mt-2 mb-0" *ngIf="users.length != 0">
                      <li class="clearfix" *ngFor="let user of users" (click)="getUSerMessege(user.id)" routerLinkActive="active" routerLink="chat/{{user.id}}">
                          <img [src]="user.avatar == null ? '../../../assets/images/user.png': user.avatar " alt="avatar">
                          <div class="about">
                              <div class="name">{{user.firstName}}</div>
                              <div class="status"> <i class="fa fa-circle online"></i> Chat Now </div>
                          </div>
                      </li>

                  </ul>
              </div>
              <div class="chat">
                  <!-- <app-conversation></app-conversation> -->
                  <router-outlet></router-outlet>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
