<app-navbar></app-navbar>
<div class="wrapper">
  <form [formGroup]="addForm"  (submit)="addData()">
    <div class="mb-3">
      <div class="row g-2">
        <div class="col-md">
          <div class="form-floating">
            <select
            class="form-select" id="category" aria-label="Floating label select example"
            #categoryChange (change)="setCategory(categoryChange.value)"
            >
              <option selected *ngIf="showCategoryOption">{{'createAd.selectCategory' | translate}}</option>
              <option value="{{category.id}}" *ngFor="let category of categories">{{category.category}}</option>
            </select>
            <label for="category">{{'createAd.category' | translate}}</label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-floating">
            <select class="form-select" id="subCategory" aria-label="Floating label select example"
            formControlName="subCategoryId">
              <option *ngIf="showOption" selected>{{'createAd.none' | translate}}</option>
              <option value="{{subCategory.id}}" *ngFor="let subCategory of subCategories"
              >{{subCategory.type}}</option>
            </select>
            <label for="subCategory">{{'createAd.subCategory' | translate}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="row g-2">
        <div class="col-md">
          <label for="owner" class="form-label">{{'createAd.owner' | translate}}</label>
          <select class="form-select" aria-label="Default select example" id="owner" formControlName="owner" >
            <option value="0" [selected]="true">{{'createAd.individual' | translate}}</option>
            <option value="1">{{'createAd.agency' | translate}}</option>
            <option value="2">{{'createAd.diller' | translate}}</option>
          </select>
        </div>
        <div class="col-md">
          <label for="priceAndCurrency" class="form-label">{{'createAd.currencyAndPrice' | translate}}</label>
          <div class="input-group flex-nowrap" id="priceAndCurrency">
            <span class="input-group-text currencySpan" id="addon-wrapping">
              <select class="form-select" aria-label="Default select example" formControlName="currency">
                <option value="0" [selected]="true">AMD</option>
                <option value="1">RUB</option>
                <option value="2">USD</option>
              </select>
            </span>
            <input  type="text" class="form-control" id="currencyPrice" placeholder="{{'createAd.price' | translate}}" aria-label="Price" aria-describedby="addon-wrapping"
            formControlName="price" [class.is-invalid]="addForm.get('price').invalid && addForm.get('price').touched">
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="row g-2">
        <div class="col-md">
          <label for="country" class="form-label">{{'createAd.country' | translate}}</label>
          <select class="form-select" id="country" aria-label="country" #country (change)="selectedCountry(country.value)" formControlName="country">
            <option value="{{c.id}}" *ngFor="let c of countries" [disabled]="c.id != 1">{{c.country}}</option>
          </select>
        </div>
        <div class="col-md">
          <label for="region" class="form-label">{{'createAd.region' | translate}}</label>
          <select class="form-select" id="region" aria-label="region" #region (change)="selectedRegion(region.value)" formControlName="region">
            <option value="{{r.id}}" *ngFor="let r of regionList; index as i" [selected]="i == 0">{{r.country}}</option>
          </select>
        </div>
        <div class="col-md">
          <label for="city" class="form-label">{{'createAd.city' | translate}}</label>
          <select class="form-select" id="city" aria-label="city" #city (change)="selectedCity(city.value)" formControlName="city">
            <option value="{{city.id}}" *ngFor="let city of cityList">{{city.country}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input class="form-control" type="text" id="name" aria-label="Name"
      formControlName="name" [class.is-invalid]="addForm.get('name').invalid && addForm.get('name').touched">
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">{{'createAd.description' | translate}}</label>
      <input class="form-control" type="text" id="description" aria-label="Description"
      formControlName="description" [class.is-invalid]="addForm.get('description').invalid && addForm.get('description').touched">
    </div>
    <div class="mb-3">
      <label for="tags" class="form-label">{{'createAd.tags' | translate}}</label>
      <input type="text" class="form-control" id="tags"
          formControlName="tags" [class.is-invalid]="addForm.get('tags').invalid && addForm.get('tags').touched">
      <!-- <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"
        formControlName="comment"></textarea>
        <label for="floatingTextarea2">Comments</label>
      </div> -->
    </div>
    <div class="mb-3">
      <label for="contact" class="form-label">{{'createAd.phoneNumber' | translate}}</label>
      <input class="form-control" [class.is-invalid]="addForm.get('contact').invalid && addForm.get('contact').touched" type="text" id="contact" aria-label="Phone number"
      formControlName="contact" >
    </div>
    <div class="mb-3" *ngIf="!work && !services && !everythingElse">
      <div class="row g-2">
        <div class="col-md">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="aim" id="pntrumem"
            formControlName="aim" value="4">
            <label class="form-check-label" for="pntrumem">
              {{'createAd.aim.search' | translate}}
            </label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="aim" id="vajarumem"
            formControlName="aim" value="0">
            <label class="form-check-label" for="vajarumem">
              {{'createAd.aim.forSale' | translate}}
            </label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="aim" id="vardzakalutyun"
            formControlName="aim" value="1">
            <label class="form-check-label" for="vardzakalutyun">
              {{'createAd.aim.forRent' | translate}}
            </label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="aim" id="poxanakum"
            formControlName="aim" value="2">
            <label class="form-check-label" for="poxanakum">
              {{'createAd.aim.exchange' | translate}}
            </label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="aim" id="arq"
            formControlName="aim" value="3
            ">
            <label class="form-check-label" for="arq">
              {{'createAd.aim.buy' | translate}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="mb-3">
        <label for="formFileMultiple" class="form-label">{{'createAd.uploadImages' | translate}}</label>
        <input class="form-control" type="file" id="formFileMultiple" multiple
        formControlName="imagesList" (change)="onUploadProfilePicture($event)" accept="image/png, image/jpeg">
      </div>
    </div>
    <div class="realEstate" *ngIf="realEstate">
      <div class="mb-3">
        <div class="row g-2">
          <div class="col-md">
            <input class="form-control" type="text" placeholder="{{'createAd.space' | translate}}" aria-label="space" formControlName="space">
          </div>
          <div class="col-md">
            <input class="form-control" type="text" placeholder="{{'createAd.paymentTime' | translate}}" aria-label="paymentTime" formControlName="paymentTime">
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating">
              <select class="form-select" id="floor" aria-label="Floating label select example" formControlName="floor">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <label for="floor">{{'createAd.floor' | translate}}</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <select class="form-select" id="room" aria-label="Floating label select example" formControlName="rooms">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <label for="room">{{'createAd.rooms' | translate}}</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <select class="form-select" id="constructionType" aria-label="Floating label select example" formControlName="constructionType">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <label for="constructionType">{{'createAd.constructionType' | translate}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="appliance" *ngIf="appliance">
      <div class="mb-3">
        <label for="productState" class="form-label">{{'createAd.productState' | translate}}</label>
        <select class="form-select" aria-label="Default select example" id="productState"
        formControlName="productState">
          <option value="0">New</option>
          <option value="1">Used</option>
        </select>
      </div>
    </div>
    <div class="clothesAndShoes" *ngIf="clothesAndShoes">
      <div class="mb-3">
        <label for="productState" class="form-label">{{'createAd.productState' | translate}}</label>
        <select class="form-select" aria-label="Default select example" id="productState" formControlName="productState">
          <option value="0">New</option>
          <option value="1">Used</option>
        </select>
      </div>
      <div class="mb-3" >
        <label for="clothingSize" class="form-label">{{'createAd.clothingSize' | translate}}C</label>
        <input type="text" class="form-control" id="clothingSize" formControlName="clothingSize">
      </div>
      <div class="mb-3">
        <label for="shoesSize" class="form-label">{{'createAd.shoesSize' | translate}}</label>
        <input type="number" class="form-control" id="shoesSize"formControlName="shoesSize">
      </div>

  </div>
  <div class="forChildren" *ngIf="forNewBorns">
    <div class="mb-3">
      <label for="productState" class="form-label">{{'createAd.productState' | translate}}</label>
      <select class="form-select" aria-label="Default select example" id="productState" formControlName="productState">
        <option value="0">New</option>
        <option value="1">Used</option>
      </select>
    </div>
    <div class="mb-3">
      <div class="row g-2">
        <div class="col-md">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="male" value="0" formControlName="gender">
            <label class="form-check-label" for="male">
              {{'createAd.male' | translate}}
            </label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="female" value="1" formControlName="gender">
            <label class="form-check-label" for="female">
              {{'createAd.female' | translate}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" id="forNewBorns" formControlName="forNewBorns">
        <label class="form-check-label" for="forNewBorns">
          {{'createAd.forNewBorns' | translate}}
        </label>
      </div>
    </div>
  </div>
  <div class="jewerlyAndAccessories" *ngIf="jewerlyAndAccessories">
    <div class="mb-3">
      <label for="productState" class="form-label">{{'createAd.productState' | translate}}</label>
      <select class="form-select" aria-label="Default select example" id="productState" formControlName="productState">
        <option value="0">New</option>
        <option value="1">Used</option>
      </select>
    </div>
    <div class="mb-3">
      <div class="row g-2">
        <div class="col-md">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="male" value="0" formControlName="gender">
            <label class="form-check-label" for="male">
              {{'createAd.male' | translate}}
            </label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="female" value="1" formControlName="gender">
            <label class="form-check-label" for="female">
              {{'createAd.female' | translate}}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="productsAndDrinks mb-3" *ngIf="productsAndDrinks">
    <div class="row g-2">
      <div class="col">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="1" id="isLocal" formControlName="isLocal">
          <label class="form-check-label" for="isLocal">
            {{'createAd.isLocal' | translate}}
          </label>
        </div>
      </div>
      <div class="col">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="1" id="isFrozen" formControlName="isFrozen">
          <label class="form-check-label" for="isFrozen">
            {{'createAd.isFrozen' | translate}}
          </label>
        </div>
      </div>
      <div class="col">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="1" id="isNaturalDrink" formControlName="isNaturalDrink">
          <label class="form-check-label" for="isNaturalDrink">
            {{'createAd.isNaturalDrink' | translate}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="cigaretteAndAlcohol mb-3" *ngIf="cigaretteAndAlcohol">
    <div class="mb-3">
      <label for="productState" class="form-label">{{'createAd.productState' | translate}}</label>
      <select class="form-select" aria-label="Default select example" id="productState" formControlName="productState">
        <option value="0">New</option>
        <option value="1">Used</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="alcoholVolume" class="form-label">{{'createAd.alcoholVolume' | translate}}</label>
      <input type="number" class="form-control" id="alcoholVolume" formControlName="alcoholVolume">
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="isLocal" formControlName="isLocal">
        <label class="form-check-label" for="isLocal">
          {{'createAd.isLocal' | translate}}
        </label>
      </div>
    </div>
  </div>
  <div class="tourism mb-3" *ngIf="tourism">
    <div class="mb-3">
      <div class="row g-2">
          <div class="col">
            <label for="departureDay" class="form-label">{{'createAd.departureDay' | translate}}</label>
            <input type="date" class="form-control" id="departureDay" formControlName="departureDay">
          </div>
        <div class="col">
          <label for="returnDay" class="form-label">{{'createAd.returnDay' | translate}}</label>
          <input type="date" class="form-control" id="returnDay" formControlName="returnDay">
        </div>
        <div class="col">
          <label for="reservedTickets" class="form-label">{{'createAd.reversed' | translate}}</label>
          <input type="number" class="form-control" id="reservedTickets" formControlName="reservedTickets">
        </div>
      </div>
    </div>
  </div>
  <div class="work mb-3" *ngIf="work">
    <div class="mb-3">
      <label for="paymentTime" class="form-label">{{'createAd.paymentTime' | translate}}</label>
      <input type="number" class="form-control" id="paymentTime" formControlName="paymentTime">
    </div>
  </div>
  <div class="services mb-3" *ngIf="services">
    <div class="mb-3">
      <label for="paymentTime" class="form-label">{{'createAd.paymentTime' | translate}}</label>
      <input type="number" class="form-control" id="paymentTime" formControlName="paymentTime">
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" id="transportation" formControlName="transportation">
        <label class="form-check-label" for="transportation">
          {{'createAd.transportation' | translate}}
        </label>
      </div>
    </div>
  </div>
  <div class="acquaintance mb-3" *ngIf="acquaintance">
    <div class="mb-3">
      <div class="row g-2">
        <div class="col-md">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="male" value="0" formControlName="gender">
            <label class="form-check-label" for="male">
              {{'createAd.male' | translate}}
            </label>
          </div>
        </div>
        <div class="col-md">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gender" id="female" value="1" formControlName="gender">
            <label class="form-check-label" for="female">
              {{'createAd.female' | translate}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3 row g-2">
      <div class="col">
        <div class="mb-3">
          <label for="height" class="form-label">{{'createAd.height' | translate}}</label>
          <input type="text" class="form-control" id="height" formControlName="height">
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="weight" class="form-label">{{'createAd.weight' | translate}}</label>
          <input type="text" class="form-control" id="weight" formControlName="weight">
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="mb-3">
        <label for="acquaintanceAim" class="form-label">{{'createAd.acquaintanceAim' | translate}}</label>
        <input type="text" class="form-control" id="acquaintanceAim" formControlName="acquaintanceAim">
      </div>
    </div>
  </div>

  <div class="mb-3" *ngIf="showVehicleForm">

    <div class="row g-2 mb-3">
      <div class="col">
        <label for="mark" class="form-label">Mark</label>
        <select class="form-select" aria-label="Default select example" id="mark" #markid formControlName="mark" (change)="setModel(markid.value)">
          <option value="{{mark.id}}" *ngFor="let mark of this.vehicleMarkList">{{mark.name}}</option>
        </select>
      </div>
      <div class="col">
        <label for="owner" class="form-label">Model</label>
        <select class="form-select" aria-label="Default select example" id="model" formControlName="model">
          <option value="{{model.id}}" *ngFor="let model of this.vehicleModelList">{{model.name}}</option>
        </select>
      </div>
    </div>

    <div class="row g-2 mb-3">
      <div class="col">
        <label for="engineSize" class="form-label">Engine Size</label>
        <select class="form-select" aria-label="Default select example" id="engineSize" formControlName="engineSize">
          <option value="{{engineSize.id}}" *ngFor="let engineSize of this.vehicleEnginSizeList">{{engineSize.size}} L</option>
        </select>
      </div>
      <div class="col">
        <label for="engineType" class="form-label">Engine Type</label>
        <select class="form-select" aria-label="Default select example" id="engineType" formControlName="engineType">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
    </div>

    <div class="row g-2 mb-3">
      <div class="col">
        <label for="bodyType" class="form-label">Body Type</label>
        <select class="form-select" aria-label="Default select example" id="bodyType" formControlName="bodyType">
          <option value="0" >0</option>
          <option value="1" >1</option>
          <option value="2" >2</option>
        </select>
      </div>
      <div class="col">
        <label for="driveType" class="form-label">Drive Type</label>
        <select class="form-select" aria-label="Default select example" id="driveType" formControlName="driveType">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
    </div>

    <div class="row g-2 mb-3">
      <div class="col">
        <label for="productionYear" class="form-label">Year</label>
        <select class="form-select" aria-label="Default select example" id="productionYear" formControlName="productionYear">
          <option value="{{year}}" *ngFor="let year of yearsArr">{{year}}</option>
        </select>
      </div>
      <div class="col">
        <label for="transmissionType" class="form-label">Transmission Type</label>
        <select class="form-select" aria-label="Default select example" id="transmissionType" formControlName="transmissionType">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
      <div class="col">
        <label for="color" class="form-label">Color</label>
        <select class="form-select" aria-label="Default select example" id="color" formControlName="color">
          <option value="0">Black</option>
          <option value="1">Red</option>
          <option value="2">White</option>
        </select>
      </div>
      <div class="mb-3">
        <input class="form-check-input" type="checkbox" value="1" id="customsCleared" formControlName="customsCleared">
        <label class="form-check-label" for="customsCleared">
          Customs Cleared
        </label>
      </div>
    </div>

    <div class="row g-2 mb-3">
      <div class="col">
        <label for="mileage" class="form-label">Mileage</label>
        <select class="form-select" aria-label="Default select example" id="mileage" formControlName="mileage">
          <option value="{{mileage.id}}" *ngFor="let mileage of this.vehicleMilleageList">{{mileage.mileage}}</option>
        </select>
      </div>
      <div class="col">
        <label for="wheel" class="form-label">Wheel</label>
        <select class="form-select" aria-label="Default select example" id="wheel" formControlName="wheel">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
    </div>


  </div>
  <div class="mb-3">
      <div class="row g-3">
        <div class="col-2">
          <button type="submit" class="btn btn-success">{{'createAd.add' | translate}}</button>
        </div>
        <div class="col-10">
          <div class="my-alert" *ngIf="itemAdded">
            <img src="../../../../assets/images/checked.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="loading-field" *ngIf="loaderShow">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
</div>
