<app-navbar></app-navbar>
<nav>
  <div class="nav nav-tabs mb-5" id="nav-tab" role="tablist">
    <button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"    routerLinkActive="active" routerLink="my-ads">{{'myPage.myAds' | translate}}</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" routerLinkActive="active" routerLink="info">{{'myPage.profile' | translate}}</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false" routerLinkActive="active" routerLink="settings">{{'myPage.change' | translate}}</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-tariff" type="button" role="tab" aria-controls="nav-tariff" aria-selected="false" routerLinkActive="active" routerLink="tariff">{{'myPage.tariff.tariff' | translate}}</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-tariff" type="button" role="tab" aria-controls="nav-tariff" aria-selected="false" routerLinkActive="active" routerLink="balance">{{'myPage.balance' | translate}}</button>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
  </div>
</div>
