.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img{
  /* width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px; */
  border-radius: 100px;
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */

}
.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9fa8b9;
}
.account-settings .about {
  margin: 2rem 0 0 0;
  text-align: center;
}
.account-settings .about h5 {
  margin: 0 0 15px 0;
  color: #007ae1;
}
.account-settings .about p {
  font-size: 0.825rem;
}

.card {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}
/* #submit:first-child {
  margin-right: 15px;
} */


/* Profil Picture */
.img{
  position: relative;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  border: 1px solid black;
  margin: auto;
}
.p-image{
  position: absolute;
  bottom: 0;
  left: calc(50% - 14px);
}
.p-image svg{
  width: 28px;
  height: 28px;
  opacity: 0;
  transition: 0.6s;
  cursor: pointer;
}
.p-image svg:hover{
  fill: #484848;
}
.p-image input{
  opacity: 0;
  display: none;
}
.img:hover .p-image svg{
  opacity: 1;
}

.vip_button:disabled{
  cursor: progress;
  pointer-events: all;
}
