<div class="container" *ngIf="user">
  <form [formGroup]="updateForm" (submit)="updateProfile()">
    <div class="row gutters">
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
          <div class="card-body">
            <div class="account-settings">
              <div class="user-profile">
                <div class="user-avatar">
                  <div class="img">
                    <div class="p-image">
                      <svg (click)="openFileInput()" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36.174px" height="36.174px"
                        viewBox="0 0 36.174 36.174" style="enable-background:new 0 0 36.174 36.174;"
                        xml:space="preserve">
                        <g>
                          <path d="M23.921,20.528c0,3.217-2.617,5.834-5.834,5.834s-5.833-2.617-5.833-5.834s2.616-5.834,5.833-5.834
                          S23.921,17.312,23.921,20.528z M36.174,12.244v16.57c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-16.57c0-2.209,1.791-4,4-4h4.92
                          V6.86c0-1.933,1.566-3.5,3.5-3.5h11.334c1.934,0,3.5,1.567,3.5,3.5v1.383h4.92C34.383,8.244,36.174,10.035,36.174,12.244z
                          M26.921,20.528c0-4.871-3.963-8.834-8.834-8.834c-4.87,0-8.833,3.963-8.833,8.834s3.963,8.834,8.833,8.834
                          C22.958,29.362,26.921,25.399,26.921,20.528z" />
                        </g>
                      </svg>
                      <input #img class="file-upload" type="file" accept="image/*" formControlName="avatar"
                        (change)="onUploadProfilePicture($event)" />
                    </div>
                    <img [src]="imageSrc" alt="">
                  </div>
                  <!-- <svg id="_x31_" enable-background="new 0 0 24 24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g><path d="m17.453 24c-.168 0-.34-.021-.51-.066l-15.463-4.141c-1.06-.292-1.692-1.39-1.414-2.45l1.951-7.272c.072-.267.346-.422.612-.354.267.071.425.346.354.612l-1.95 7.27c-.139.53.179 1.082.71 1.229l15.457 4.139c.531.14 1.079-.176 1.217-.704l.781-2.894c.072-.267.346-.426.613-.353.267.072.424.347.353.613l-.78 2.89c-.235.89-1.045 1.481-1.931 1.481z"/></g><g><path d="m22 18h-16c-1.103 0-2-.897-2-2v-12c0-1.103.897-2 2-2h16c1.103 0 2 .897 2 2v12c0 1.103-.897 2-2 2zm-16-15c-.551 0-1 .449-1 1v12c0 .551.449 1 1 1h16c.551 0 1-.449 1-1v-12c0-.551-.449-1-1-1z"/></g><g><path d="m9 9c-1.103 0-2-.897-2-2s.897-2 2-2 2 .897 2 2-.897 2-2 2zm0-3c-.551 0-1 .449-1 1s.449 1 1 1 1-.449 1-1-.449-1-1-1z"/></g><g><path d="m4.57 16.93c-.128 0-.256-.049-.354-.146-.195-.195-.195-.512 0-.707l4.723-4.723c.566-.566 1.555-.566 2.121 0l1.406 1.406 3.892-4.67c.283-.339.699-.536 1.142-.54h.011c.438 0 .853.19 1.139.523l5.23 6.102c.18.209.156.525-.054.705-.209.18-.524.157-.705-.054l-5.23-6.102c-.097-.112-.231-.174-.38-.174-.104-.009-.287.063-.384.18l-4.243 5.091c-.09.108-.221.173-.362.179-.142.01-.277-.046-.376-.146l-1.793-1.793c-.189-.188-.518-.188-.707 0l-4.723 4.723c-.097.097-.225.146-.353.146z"/></g></svg> -->
                </div>
                <h5 class="user-name">{{user.firstName}}</h5>
                <h6 class="user-email">{{user.email}}</h6>
              </div>
              <!-- <div class="about">
          <button disabled class="vip_button btn btn-dark">Become a Urgent</button>
        </div>
        <div class="about">
          <button disabled class="vip_button btn btn-dark">Become a VIP</button>
        </div> -->
              <div class="about">
                <h5>{{'myPage.profileTab.ballance' | translate}}</h5>
                <p>{{user.balance}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
          <div class="card-body">
            <div class="row gutters">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group mb-3">
                  <label for="firstName" class="form-label">{{'myPage.profileTab.firstName' | translate}}</label>
                  <input type="text" class="form-control" id="firstName"
                    placeholder="{{'myPage.profileTab.lastNameInput' | translate}}" formControlName="firstName">
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group mb-3">
                  <label for="fullName" class="form-label">{{'myPage.profileTab.lastName' | translate}}</label>
                  <input type="text" class="form-control" id="fullName"
                    placeholder="{{'myPage.profileTab.lastNameInput' | translate}}" formControlName="lastName">
                </div>
              </div>
            </div>


            <div class="row gutters">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group mb-3">
                  <label for="country" class="form-label">{{'myPage.profileTab.country' | translate}}</label>
                  <select class="form-select" #co aria-label="Default select example" id="country"
                    formControlName="country" (change)="changeCountry(co.value)">
                    <option value="{{c.id}}" *ngFor="let c of country">{{c.country}}</option>
                  </select>`
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group mb-3">
                  <label for="region" class="form-label">{{'myPage.profileTab.region' | translate}}</label>
                  <select class="form-select" #re aria-label="Default select example" id="region"
                    formControlName="region" (change)="changeRegion(re.value)">
                    <option value="{{r.id}}" *ngFor="let r of region">{{r.country}}</option>
                  </select>
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group mb-3">
                  <label for="city" class="form-label">{{'myPage.profileTab.city' | translate}}</label>
                  <select class="form-select" aria-label="Default select example" id="city" formControlName="city">
                    <option value="{{c.id}}" *ngFor="let c of city">{{c.country}}</option>
                  </select>
                </div>
              </div>

              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group mb-3">
                  <label for="phoneNumber" class="form-label">{{'myPage.profileTab.phoneNumber' | translate}}</label>
                  <input type="text" class="form-control" id="phoneNumber"
                    placeholder="{{'myPage.profileTab.enterStreet' | translate}}" formControlName="phoneNumber">
                </div>
              </div>
            </div>


            <div class="row gutters">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group mb-3">
                  <label for="Street" class="form-label">{{'myPage.profileTab.street' | translate}}</label>
                  <input type="name" class="form-control" id="Street"
                    placeholder="{{'myPage.profileTab.enterStreet' | translate}}" formControlName="address">
                </div>
              </div>
              <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group mb-3">
                <label for="ciTy" class="form-label">{{'myPage.profileTab.city' | translate}}</label>
                <input type="name" class="form-control" id="ciTy" placeholder="{{'myPage.profileTab.city' | translate}}" formControlName="address">
              </div>
            </div> -->
            </div>
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="text-right">
                  <button [disabled]="!(updateForm.valid)" type="submit" id="submit" name="submit"
                    class="btn btn-primary">{{'myPage.profileTab.update' | translate}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
