<div class="container mt-2">
  <div class="row" *ngFor="let myAd of myAds">
    <h1 class="categoryName">{{myAd.category.name}}</h1>
    <div class="col-md-3 col-sm-6 colForMarginBottom" *ngFor="let ads of myAd.ads" (click)="productInfo(myAd.category, ads.id)">
      <div class="card card-block card-for-absolute">
        <img class="vip" *ngIf="ads.state==2" src="../../../assets/images/important.png" alt="">
        <img class="vip" *ngIf="ads.state==1" src="../../../assets/images/stopwatch.png" alt="">
        <img src="{{ads.image == '' ? '../../../../../assets/images/noimage.png' : ads.image}}" alt="Photo of sunset">
        <h5 class="terxt-title card-title mt-3 mb-3">{{ads.name}}</h5>
        <p class="terxt-title card-text">{{ads.description}}</p>
      </div>
    </div>
  </div>
</div>
