<div class="wrapper">
  <div class="text">
    <h6 style="margin-bottom: 15px;">{{'createAd.similarAds' |translate}}</h6>
  </div>
  <div class="ads" *ngIf="addedResponseProduct">
    <div class="card" *ngFor="let item of addedResponseProduct" (click)="redirectToPage(item)">
      <div class="card-body">
        <img class="card-img-top" src="{{item.imagesList[0]}}" alt="">
        <div class="text-area">
          <div class="name">
            <h5>{{item.name}}</h5>
          </div>
          <div class="description">
            <!-- <span>{{item.description}}</span> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
