.card:not(:last-child){
  margin-bottom: 5px;
}
.card{
  cursor: pointer;

}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-img-top{
  max-width: 20%;
}
.text-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}
.card-body{
  display: flex;
}
.description span{
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
