.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  /* display: flex; */
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-gap: 5px;
}
.side-one {
  flex: 1.5;
  /* grid-column: 1/3; */
  position: relative;
}
.favorite {
  position: absolute;
  right: 10%;
  top: 0;
}
.side-two {
  flex: 1;
}
#itemImagesCarousel {
  width: 70%;
}
.side-two {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.side-two > div:not(:last-child) {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  border-bottom: 1px dashed silver;
}
.side-two .value {
  width: 40%;
  display: flex;
  justify-content: start;
}
.map {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin-bottom: 30px;
}
.map .orderButton {
  cursor: no-drop;
  pointer-events: all;
}
.zIndex {
  z-index: 1;
}
.description {
  display: flex;
  flex-direction: column !important;
  line-break: anywhere;
}
.text-area {
  margin-top: 4% !important;
  overflow-y: scroll;
  max-height: 200px;
  width: 100% !important;
}
.text-area::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.text-area {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
h5:not(.value h5) {
  color: #a9a5a5;
  font-size: 1.1rem;
}
.side-three {
  flex: 1;
  /* border: 1px solid black; */
}
img {
  object-fit: contain;
}

.carouselSettings {
  height: 400px;
}

/* Favorite */
.my-plus {
  color: black;
  position: absolute;
  top: 84%;
  right: 2%;
  width: 50px;
  display: block;
  height: 50px;
  z-index: 100;
  cursor: pointer;
}
.my-plus svg {
  transition: 0.5s;
  width: 100%;
  height: 100%;
}
.my-plus svg path:first-child {
  fill: none;
}
.favoriteAvilable svg path:first-child {
  fill: #dc3545 !important;
}
.my-plus svg path:last-child {
  fill: #dc3545;
}
/* ENDFavorite */
.showPageButton {
  /* margin-left: 25px; */
}
.badge-success {
  background-color: none;
}

.deleted {
  color: red;
  text-decoration: line-through;
  margin-right: 20px;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* MAPS */
agm-map {
  height: 400px;
}

.ad {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
