<app-navbar></app-navbar>

<div class="wrapper" *ngIf="this.responseItem && this.responseItem != null">
  <div class="side-one">
    <div class="carouselSettings row">
      <div id="itemImagesCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button class="zIndex active" type="button" data-bs-target="#itemImagesCarousel" [attr.data-bs-slide-to]="i"
            aria-current="true" [attr.aria-label]="i+1"
            *ngFor="let p of responseItem.imagesList; let i = index "></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item" data-bs-interval="5000"
            *ngFor="let photo of responseItem.imagesList; first as isFirst" [class.active]="isFirst">
            <img (click)="showImage()" [src]="photo == '' ? '../../../../../assets/images/noimage.png' : photo "
              class="d-block w-100" alt="..." style="height: 400px;">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#itemImagesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#itemImagesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="favorite" *ngIf="logined">
      <a class="badge my-plus" [ngClass]="{favoriteAvilable:heartFull}" (click)="addOrDeleteFav(responseItem.id)">
        <!-- <svg id="color" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m11.466 22.776c.141.144.333.224.534.224s.393-.08.534-.224l9.594-9.721c4.001-4.053 1.158-11.055-4.532-11.055-3.417 0-4.985 2.511-5.596 2.98-.614-.471-2.172-2.98-5.596-2.98-5.672 0-8.55 6.984-4.531 11.055z" fill="#f44336"/></svg> -->
        <svg viewBox="0 -20 480 480" xmlns="http://www.w3.org/2000/svg">
          <path
            d="m348 8c-44.773438.003906-86.066406 24.164062-108 63.199219-21.933594-39.035157-63.226562-63.195313-108-63.199219-68.480469 0-124 63.519531-124 132 0 172 232 292 232 292s232-120 232-292c0-68.480469-55.519531-132-124-132zm0 0"
            fill="#ff6243" />
          <path
            d="m348 0c-43 .0664062-83.28125 21.039062-108 56.222656-24.71875-35.183594-65-56.1562498-108-56.222656-70.320312 0-132 65.425781-132 140 0 72.679688 41.039062 147.535156 118.6875 216.480469 35.976562 31.882812 75.441406 59.597656 117.640625 82.625 2.304687 1.1875 5.039063 1.1875 7.34375 0 42.183594-23.027344 81.636719-50.746094 117.601563-82.625 77.6875-68.945313 118.726562-143.800781 118.726562-216.480469 0-74.574219-61.679688-140-132-140zm-108 422.902344c-29.382812-16.214844-224-129.496094-224-282.902344 0-66.054688 54.199219-124 116-124 41.867188.074219 80.460938 22.660156 101.03125 59.128906 1.539062 2.351563 4.160156 3.765625 6.96875 3.765625s5.429688-1.414062 6.96875-3.765625c20.570312-36.46875 59.164062-59.054687 101.03125-59.128906 61.800781 0 116 57.945312 116 124 0 153.40625-194.617188 266.6875-224 282.902344zm0 0"
            fill="#3e3d42" />
        </svg>
      </a>
    </div>
  </div>
  <div class="side-two">
    <div class="name">
      <h5>{{'singleProduct.name' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.name}}</h5>
      </div>
    </div>
    <!-- <div class="price" *ngIf="showExchangePrice">
      <h5>{{'singleProduct.price' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.salePrice}} {{this.responseItem.currency == 0 ? "AMD" : this.responseItem.currency == 1 ? "RUB" : "USD"}}</h5>
      </div>
    </div> -->
    <div class="price" *ngIf="showExchangePrice">
      <h5>{{'createAd.price' | translate}}</h5>
      <div class="value">
        <!-- <h5>{{this.responseItem.price}} {{this.currencySymbol}}</h5> -->
        <!-- <h5>{{this.responseItem.salePrice}} {{this.responseItem.currency == 0 ? "AMD" : this.responseItem.currency == 1 ? "RUB" : "USD"}}</h5> -->
        <div *ngIf="this.responseItem.salePrice == this.responseItem.price; else showSalePrice" class="value">
          <h5 class="value">{{this.responseItem.salePrice}} {{this.responseItem.currency == 0 ? "AMD" :
            this.responseItem.currency == 1 ? "RUB" : "USD"}}</h5>
        </div>
      </div>
      <ng-template #showSalePrice *ngIf="showExchangePrice">
        <h5 class="value">
          <h5 class="deleted">
            {{this.responseItem.price}} {{this.responseItem.currency == 0 ? "AMD" : this.responseItem.currency == 1 ?
            "RUB" : "USD"}}
          </h5>
          {{this.responseItem.salePrice}} {{this.responseItem.currency == 0 ? "AMD" : this.responseItem.currency == 1 ?
          "RUB" : "USD"}}
        </h5>
      </ng-template>
    </div>

    <div class="country">
      <h5>{{'createAd.location' | translate}}</h5>
      <div class="value">
        <h5>{{responseItem.countryName}}, {{responseItem.regionName}}, {{responseItem.cityName}}</h5>
      </div>
    </div>

    <!--Not GetSale, GetEverythingElse -->
    <!-- For GetCulture, GetHealfCare, GetFurniture, GetForHomeAndGarden, GetHouseholdGood, GetConstruction, GetElectronic
         GetAcquaintance, GetAppliances, GetCigaretteAndAlcohol, GetClothesAndShoes, GetForChildren, GetJewerlyAndAccessories
         GetProductsAndDrinks, GetRealEstate, GetTourismAndRest -->
    <div class="aim" *ngIf="showAim">
      <h5>{{'singleProduct.aim' | translate}}</h5>
      <div class="value">
        <h5>{{aimText}}</h5>
      </div>
    </div>
    <!-- END -->

    <!-- <div class="comment">
      <h5>Comments</h5>
      <div class="value">
        <h5>{{this.responseItem.comment}}</h5>
      </div>
    </div> -->
    <div class="number">
      <h5>{{'singleProduct.contact' | translate}}</h5>
      <div class="value">
        <h5><a
            href="tel:{{this.responseItem.contact[0] == '+'? this.responseItem.contact: this.responseItem.contact}}">{{this.responseItem.contact}}</a>
        </h5>
      </div>
    </div>

    <!-- Work, GetRealEstate, GetServices -->

    <!--GetPetsAndPlants, GetCulture, GetHealfCare, GetFurniture, GetForHomeAndGarden, GetHouseholdGood, GetConstruction, GetElectronic
         GetAppliances, GetCigaretteAndAlcohol, GetClothesAndShoes, GetForChildren, GetJewerlyAndAccessories-->
    <div class="productState" *ngIf="productState">
      <h5>{{'singleProduct.productState' | translate}}</h5>
      <div class="value">
        <h5>{{productStateText}}</h5>
      </div>
    </div>
    <!-- END -->


    <!-- For GetAcquaintance, GetForChildren(GENDER ONLY), GetJewerlyAndAccessories(GENDER ONLY) -->
    <div class="gender" *ngIf="showGender">
      <h5>{{'createAd.gender' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.gender}}</h5>
      </div>
    </div>
    <div class="weight" *ngIf="showWeightHeight">
      <h5>{{'createAd.weight' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.weight}}</h5>
      </div>
    </div>
    <div class="height" *ngIf="showWeightHeight">
      <h5>{{'createAd.height' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.height}}</h5>
      </div>
    </div>

    <!-- For GetCigaretteAndAlcohol GetProductsAndDrinks(ONLY ISLOCAL)-->
    <div class="isLocal" *ngIf="showIsLocal">
      <h5>{{'createAd.isLocal' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.isLocal}}</h5>
      </div>
    </div>
    <div class="alcoholVolume" *ngIf="showAlcoholVolume">
      <h5>{{'createAd.alcoholVolume' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.alcoholVolume}}</h5>
      </div>
    </div>

    <!-- For GetClothesAndShoes -->
    <div class="clothingSize" *ngIf="showClothingSizeAndShoesSize">
      <h5>{{'createAd.clothingSize' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.clothingSize}}</h5>
      </div>
    </div>
    <div class="shoesSize" *ngIf="showClothingSizeAndShoesSize">
      <h5>{{'createAd.shoesSize' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.shoesSize}}</h5>
      </div>
    </div>

    <!-- GetForChildren -->
    <div class="forNewBorns" *ngIf="showForNewBorns">
      <h5>{{'createAd.forNewBorns' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.forNewBorns}}</h5>
      </div>
    </div>

    <!-- GetProductsAndDrinks -->
    <div class="isFrozen" *ngIf="showIsFrozenAndIsNaturalDrink">
      <h5>{{'createAd.isFrozen' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.isFrozen}}</h5>
      </div>
    </div>
    <div class="isNaturalDrink" *ngIf="showIsFrozenAndIsNaturalDrink">
      <h5>{{'createAd.isNaturalDrink' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.isNaturalDrink}}</h5>
      </div>
    </div>


    <!-- GetRealEstate -->
    <div class="space" *ngIf="showAllForRealEstate">
      <h5>{{'createAd.space' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.space}}</h5>
      </div>
    </div>
    <div class="constructionType" *ngIf="showAllForRealEstate">
      <h5>{{'createAd.constructionType' | translate}}</h5>
      <div class="value">
        <h5>{{constructionTypeText}}</h5>
      </div>
    </div>
    <div class="rooms" *ngIf="showAllForRealEstate">
      <h5>{{'createAd.rooms' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.rooms}}</h5>
      </div>
    </div>
    <div class="floor" *ngIf="showAllForRealEstate">
      <h5>{{'createAd.floor' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.floor}}</h5>
      </div>
    </div>

    <!-- For GetServices -->
    <div class="transportation" *ngIf="showTransportation">
      <h5>{{'createAd.transportation' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.transportation}}</h5>
      </div>
    </div>

    <!-- For GetTourismAndRest -->
    <div class="departureDay" *ngIf="showAllForTourismAndRest">
      <h5>{{'createAd.departureDay' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.departureDay | date: 'medium'}}</h5>
      </div>
    </div>
    <div class="returnDay" *ngIf="showAllForTourismAndRest">
      <h5>{{'createAd.returnDay' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.returnDay | date: 'medium'}}</h5>
      </div>
    </div>
    <div class="reservedTickets" *ngIf="showAllForTourismAndRest">
      <h5>{{'createAd.reversed' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.reservedTickets}}</h5>
      </div>
    </div>

    <!-- GetExchange -->
    <div class="sourceCurrencyID" *ngIf="showAllForExchange">
      <h5>Արժույթ</h5>
      <div class="value">
        <h5>{{sourceCurrencyID}}</h5>
      </div>
    </div>
    <div class="destinationCurrencyID" *ngIf="showAllForExchange">
      <h5>Փոխարժեք</h5>
      <div class="value">
        <h5>{{destinationCurrencyID}}</h5>
      </div>
    </div>
    <div class="saleSummaRetail" *ngIf="showAllForExchange">
      <h5>Մեծածախ վաճառք</h5>
      <div class="value">
        <h5>{{this.responseItem.saleSummaRetail}}</h5>
      </div>
    </div>
    <div class="buySummaRetail" *ngIf="showAllForExchange">
      <h5>Մեծածախ գնում</h5>
      <div class="value">
        <h5>{{this.responseItem.buySummaRetail}}</h5>
      </div>
    </div>
    <div class="buySummaRetail" *ngIf="showAllForExchange">
      <h5>Վաճառք</h5>
      <div class="value">
        <h5>{{this.responseItem.saleSumma}}</h5>
      </div>
    </div>
    <div class="buySummaRetail" *ngIf="showAllForExchange">
      <h5>Առք</h5>
      <div class="value">
        <h5>{{this.responseItem.buySumma}}</h5>
      </div>
    </div>
    <!-- VEHICLE -->
    <div class="transportation" *ngIf="showVehicle && showWehicleNot1and2">
      <h5>{{'createAd.vehicleMark' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.sMark}}</h5>
      </div>
    </div>

    <div class="transportation" *ngIf="showVehicle && showWehicleNot1and2">
      <h5>{{'createAd.vehicleModel' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.sModel}}</h5>
      </div>
    </div>

    <div class="transportation" *ngIf="showVehicle && showWehicleNot1and2">
      <h5>{{'createAd.engineSize' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.dEngineSize}} L</h5>
      </div>
    </div>
    <div class="transportation" *ngIf="showVehicle && showWehicleNot1and2">
      <h5>{{'createAd.engineType' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.sEngineType}}</h5>
      </div>
    </div>
    <div class="transportation" *ngIf="showVehicle && showWehicleNot1and2">
      <h5>{{'createAd.bodyType' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.sBodyType}}</h5>
      </div>
    </div>
    <div class="transportation" *ngIf="showVehicle && showWehicleNot1and2">
      <h5>{{'createAd.driveType' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.sDriveType}}</h5>
      </div>
    </div>
    <div class="transportation" *ngIf="showVehicle && showWehicleNot1and2">
      <h5>{{'createAd.year' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.productionYear | date: 'yyyy'}}</h5>
      </div>
    </div>
    <div class="transportation" *ngIf="showVehicle && showWehicleNot1and2">
      <h5>{{'createAd.transmission' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.sTransmissionType}}</h5>
      </div>
    </div>
    <div class="transportation" *ngIf="showVehicle && showWehicleNot1and2">
      <h5>{{'createAd.color' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.sColor}}</h5>
      </div>
    </div>
    <div class="transportation" *ngIf="showVehicle && showWehicleNot1and2">
      <h5>{{'createAd.mileage' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.mileage}}</h5>
      </div>
    </div>
    <div class="transportation" *ngIf="showVehicle && showWehicleNot1and2">
      <h5>{{'createAd.wheel' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.sWheel}}</h5>
      </div>
    </div>



    <!-- DESCRIPTION -->
    <div class="description">
      <h5>{{'singleProduct.description' | translate}}</h5>
      <div class="value text-area">
        <h5>{{this.responseItem.description}}</h5>
      </div>
    </div>
    <!--  -->
    <div class="map">
      <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#mapModal">{{'singleProduct.showMap' |
        translate}}</button>
      <button class="btn btn-primary showPageButton" (click)="showPage()">{{'createAd.viewProfile' |
        translate}}</button>
      <button *ngIf="placeAnOrderButton" disabled class="btn btn-dark orderButton">Place an order</button>
    </div>

  </div>
  <div class="side-three" *ngIf="selectedCategory">
    <app-similar-ads [categoryName]="selectedCategory.category" [categoryId]="selectedCategory.id"></app-similar-ads>
  </div>
</div>




<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mapModalLabel">{{'createAd.map' | translate}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <agm-map [latitude]="armLat" [zoom]="10" [longitude]="armLng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
