img {
  height: 260px;
  width: 100%;
  object-fit: contain;
}

div [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.card {
  transition: 0.5s;
  cursor: pointer;
}
.card-title {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
}
.card-title i {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
  color: #ffa710;
}
.card-title i:hover {
  transform: scale(1.25) rotate(100deg);
  color: #18d4ca;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.card-text {
  height: 80px;
  line-height: 1.5em;
  /* height: 3em; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}
.colForMarginBottom,
.categoryName {
  margin-bottom: 20px;
}
.categoryName {
  text-align: center;
}
.row {
  justify-content: center;
  margin-bottom: 5%;
}

@media (min-width: 768px) {
  .col-md-3 {
    width: 26%;
  }
}


/* Addedd */
.card-for-absolute{
  position: relative;
}
.my-plus{
  color: black;
  position: absolute;
  top: 84%;
  right: 2%;
  width: 50px;
  display: block;
  height: 50px;
  z-index: 100;
  cursor: pointer;
}
.my-plus svg{
  fill: #dc3545;
  transition: 0.5s;
  width: 100%;
  height: 100%;
}
.my-plus svg:hover{
  transform: scale(1.2);
}
