<router-outlet *ngIf="load"></router-outlet>
<button type="button" #showAd [hidden]="true" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  ad
</button>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Գովազդ</h5>
        <h6 *ngIf="showTimeLeft">{{timeLeft}}</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" #close aria-label="Close" [hidden]="!showCloseButton"></button>
      </div>
      <div class="modal-body">
        <div class="container mt-2">
          <div class="row" *ngIf="ad">
            <h1 class="categoryName" style="cursor: pointer;">{{ad.mainCategoryName}}</h1>
            <div class="col-md-8 col-sm-6 colForMarginBottom card-for-absolute">
              <div class="card card-block" (click)="productInfo(ad)">
                <!-- <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset"> -->
                <img src="{{ad.images[0]}}" alt="Photo of sunset">
                <h5 class="card-title mt-3 mb-3">{{ad.name}}</h5>
                <p class="card-text">{{ad.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button [disabled]="!showCloseButton" (click)="redirect()" type="button" class="btn btn-primary">Պատվիրել գովազդ</button>
      </div>
    </div>
  </div>
</div>
