<app-navbar></app-navbar>
<div class="container mt-2">
  <div class="row" *ngFor="let mainProduct of mainProducts">
    <h1 class="categoryName" style="cursor: pointer;" (click)="openCategory(mainProduct.category.id)">
      {{mainProduct.category.name}}</h1>
    <div class="col-md-3 col-sm-6 colForMarginBottom " *ngFor="let product of mainProduct.ads">
      <!-- <a (click)="addFavorite(product.id)" class="badge badge-success my-plus">
          <svg id="color" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m11.466 22.776c.141.144.333.224.534.224s.393-.08.534-.224l9.594-9.721c4.001-4.053 1.158-11.055-4.532-11.055-3.417 0-4.985 2.511-5.596 2.98-.614-.471-2.172-2.98-5.596-2.98-5.672 0-8.55 6.984-4.531 11.055z" fill="#f44336"/></svg>
        </a> -->
      <div class="card card-block card-for-absolute" (click)="productInfo(mainProduct, product)">
        <img class="vip" *ngIf="product.state==2" src="../../../assets/images/important.png" alt="">
        <img class="vip" *ngIf="product.state==1" src="../../../assets/images/stopwatch.png" alt="">
        <img class="bestPrice" *ngIf="product.isBestPrice" src="../../../assets/images/best-price.png" alt="">
        <!-- <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset"> -->
        <img src="{{product.image == '' ? '../../../../../assets/images/noimage.png' : product.image}}"
          alt="Photo of sunset">
        <h5 class="terxt-title card-title mt-3 mb-3">{{product.name}}</h5>
        <p class="terxt-title card-text">{{product.description}}</p>
      </div>
    </div>
  </div>
</div>
