<app-navbar></app-navbar>
<div class="wrapper">
  <div class="loading-field" *ngIf="showLoader">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="my-alert" *ngIf="itemAdded">
    <img src="../../../../assets/images/checked.png" alt="">
  </div>
  <div class="my-alert" *ngIf="errorMessege">
    <img src="../../../../assets/images/x.png" alt="">
    <h4 class="err-text">Համակարգի խափանում, խնդրում ենք փորձել կրկին</h4>
  </div>
  <div class=" categories mb-3">
    <div class="card">
      <h5 class="card-header">{{'createAd.category' | translate}}</h5>
      <div class="card-body categories">
        <div class="btn-group">
          <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{categoryShow}}
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li *ngFor="let category of categories"><a class="dropdown-item" style="cursor: pointer;"
                (click)="selectedCategory(category)">{{category.category}}</a></li>
          </ul>
        </div>

        <div class="subCategories" *ngIf="showSubCategory">
          <div class="btn-group">
            <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{subCategoryShow}}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li *ngFor="let subCategory of subCategories"><a class="dropdown-item" style="cursor: pointer;"
                  (click)="selectSubCateogiry(subCategory)">{{subCategory.type}}</a></li>
              <!-- <li><a class="dropdown-item" style="cursor: pointer;" (click)="selectSubCateogoryTest(1)">1</a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="adCreateForm" (submit)="createAd()" *ngIf="adCreateForm">
    <div class="aim added-block mb-3" *ngIf="showAim">
      <div class="card">
        <h5 class="card-header">{{'createAd.aim' | translate}}</h5>
        <div class="card-body">
          <div class="btn-group">
            <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{aimText}}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" style="cursor: pointer;" (click)="getAim(0)">{{'createAd.forSale' |
                  translate}}</a></li>
              <li *ngIf="aimForRent"><a class="dropdown-item" style="cursor: pointer;"
                  (click)="getAim(1)">{{'createAd.forRent' | translate}}</a></li>
              <li><a class="dropdown-item" style="cursor: pointer;" (click)="getAim(2)">{{'createAd.exchange' |
                  translate}}</a></li>
              <li><a class="dropdown-item" style="cursor: pointer;" (click)="getAim(3)">{{'createAd.buy' |
                  translate}}</a></li>
              <li><a class="dropdown-item" style="cursor: pointer;" (click)="getAim(4)">{{'createAd.search' |
                  translate}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="acquaintanceAim added-block mb-3" *ngIf="showAcquaintanceAim">
      <div class="card">
        <h5 class="card-header">{{'createAd.acquaintanceAim' | translate}}</h5>
        <div class="card-body">
          <div class="btn-group">
            <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{acquaintanceAimText}}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" style="cursor: pointer;"
                  (click)="getAcquaintanceAim(0)">{{'createAd.acquaintanceAimArr.friendship' | translate}}</a></li>
              <li><a class="dropdown-item" style="cursor: pointer;"
                  (click)="getAcquaintanceAim(1)">{{'createAd.acquaintanceAimArr.marriage' | translate}}</a></li>
              <li><a class="dropdown-item" style="cursor: pointer;"
                  (click)="getAcquaintanceAim(2)">{{'createAd.acquaintanceAimArr.entetainment' | translate}}</a></li>
            </ul>
          </div>
        </div>


      </div>
    </div>

    <div class="main-show" *ngIf="showMain">

      <div class=" location mb-3">
        <div class="card">
          <h5 class="card-header">{{'createAd.location' | translate}}</h5>
          <div class="card-body added-block">
            <div class="btn-group">
              <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{'createAd.armenia' | translate}}
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li *ngFor="let country of countries">
                  <a class="dropdown-item disabled" attr.aria-disabled="true">{{country.country}}</a>
                </li>
              </ul>
            </div>

            <div class="region">
              <div class="btn-group">
                <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{regionText}}
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li *ngFor="let region of regions"><a class="dropdown-item" style="cursor: pointer;"
                      (click)="getRegion(region)">{{region.country}}</a></li>
                </ul>
              </div>
            </div>

            <div class="city">
              <div class="btn-group">
                <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{cityText}}
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li *ngFor="let city of cities"><a class="dropdown-item" style="cursor: pointer;"
                      (click)="getCity(city)">{{city.country}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="owner mb-3">
        <div class="card">
          <h5 class="card-header">{{'createAd.owner' | translate}}</h5>
          <div class="card-body added-block">
            <div class="btn-group">
              <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{ownerText}}
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" style="cursor: pointer;"
                    (click)="getOwner(0)">{{'createAd.ownerArr.individual' | translate}}</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getOwner(1)">{{'createAd.ownerArr.agency'
                    | translate}}</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getOwner(2)">{{'createAd.ownerArr.diller'
                    | translate}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="currencyAndPrice mb-3">
        <div class="card">
          <h5 class="card-header">{{'createAd.currencyAndPrice' | translate}}</h5>
          <div class="card-body added-block">
            <div class="btn-group">
              <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{currency}}
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getCurrency(0)">AMD</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getCurrency(1)">RUR</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getCurrency(2)">USD</a></li>
              </ul>
            </div>
            <div class="price">
              <input type="number" class="form-control" id="price" placeholder="{{'createAd.price' | translate}}"
                formControlName="price">
            </div>
          </div>
        </div>
      </div>

      <div class="name mb-3 added-block">
        <div class="card">
          <h5 class="card-header">{{'createAd.name' | translate}}</h5>
          <div class="card-body added-block">
            <div class="name">
              <input type="text" class="form-control" id="name" placeholder="{{'createAd.name' | translate}}"
                formControlName="name">
            </div>
            <div class="tags">
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">#</span>
                <input type="text" class="form-control" placeholder="#tag1 #tag2 #tag3" aria-label="tags"
                  aria-describedby="basic-addon1" formControlName="tags">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="descriptionAndTags added-block mb-3">
        <div class="card">
          <h5 class="card-header">{{'createAd.description' | translate}}</h5>
          <div class="card-body added-block">
            <div class="description">
              <textarea class="form-control" name="description" id="description"
                placeholder="{{'createAd.description' | translate}}" formControlName="description"></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="phone mb-3">
        <div class="card">
          <h5 class="card-header">{{'createAd.phone' | translate}}</h5>
          <div class="card-body added-block">
            <div class="input-group phone">
              <!-- <span class="input-group-text" id="basic-addon1">+374</span> -->
              <input type="text" class="form-control" placeholder="Phone" maxlength="16" aria-label="phone"
                aria-describedby="basic-addon1" formControlName="contact" onkeydown="return ( event.ctrlKey || event.altKey
                || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
                || (95<event.keyCode && event.keyCode<106)
                || (event.keyCode==8) || (event.keyCode==9)
                || (event.keyCode>34 && event.keyCode<40)
                || (event.keyCode==46))">
            </div>
          </div>
        </div>
      </div>

      <div class="maps mb-3">
        <div class="card">
          <h5 class="card-header">{{'createAd.map' | translate}}</h5>
          <div class="card-body added-block">
            <a class="btn btn-secondary" style="cursor: pointer;" data-bs-toggle="modal"
              data-bs-target="#mapModal">{{'createAd.map' | translate}}</a>
          </div>
        </div>
      </div>

      <!-- <div class="image mb-3">
          <div class="card">
            <h5 class="card-header">Image</h5>
            <div class="card-body added-block">
              <div class="image-input">
                <input class="form-control" type="file" id="image" multiple (change)="onUploadProfilePicture($event)" accept="image/png, image/jpeg">
              </div>
              <div class="img">
                <div class="img-preview">
                  <img src="" alt="Uploaded Image">
                </div>
              </div>
            </div>
          </div>
        </div> -->
      <div class="image mb-3">
        <div class="card">
          <h5 class="card-header">{{'createAd.image' | translate}}</h5>
          <div class="card-body added-block">
            <div class="image-input">
              <input class="form-control" type="file" id="image" multiple (change)="onUploadProfilePicture($event)"
                accept="image/png, image/jpeg">
            </div>
            <div class="img" *ngIf="showPreview">
              <div class="img-preview" *ngFor="let img of imagePreview">
                <img src="{{img}}" alt="Uploaded Image">
                <div class="delete">
                  <button #fileUpload class="btn-close btn-close-white" (click)="deletePreview(img)"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="main-added" *ngIf="showMain">

      <div class="realetate" *ngIf="showRealEstate">
        <div class="floorRoomsCT mb-3" *ngIf="showRealEstateFields">
          <div class="card">
            <h5 class="card-header">{{'createAd.floorRoomsConstructionType' | translate}}</h5>
            <div class="card-body added-block">
              <div class="btn-group">
                <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{floorText}}
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" (click)="getFloor(1)">1</a></li>
                  <li><a class="dropdown-item" (click)="getFloor(2)">2</a></li>
                  <li><a class="dropdown-item" (click)="getFloor(3)">3</a></li>
                  <li><a class="dropdown-item" (click)="getFloor(4)">4</a></li>
                  <li><a class="dropdown-item" (click)="getFloor(5)">5</a></li>
                  <li><a class="dropdown-item" (click)="getFloor(6)">6</a></li>
                  <li><a class="dropdown-item" (click)="getFloor(7)">7</a></li>
                  <li><a class="dropdown-item" (click)="getFloor(8)">8</a></li>
                  <li><a class="dropdown-item" (click)="getFloor(9)">9</a></li>
                  <li><a class="dropdown-item" (click)="getFloor(10)">10</a></li>
                  <li><a class="dropdown-item" (click)="getFloor(11)">11</a></li>
                  <li><a class="dropdown-item" (click)="getFloor(12)">12</a></li>
                  <li><a class="dropdown-item" (click)="getFloor(13)">13</a></li>
                  <li><a class="dropdown-item" (click)="getFloor(14)">14</a></li>
                  <li><a class="dropdown-item" (click)="getFloor(15)">15</a></li>
                  <li><a class="dropdown-item" (click)="getFloor(16)">16</a></li>
                </ul>
              </div>

              <div class="rooms">
                <div class="btn-group">
                  <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{roomText}}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" style="cursor: pointer;" (click)="getRooms(1)">1</a></li>
                    <li><a class="dropdown-item" style="cursor: pointer;" (click)="getRooms(2)">2</a></li>
                    <li><a class="dropdown-item" style="cursor: pointer;" (click)="getRooms(3)">3</a></li>
                    <li><a class="dropdown-item" style="cursor: pointer;" (click)="getRooms(4)">4</a></li>
                    <li><a class="dropdown-item" style="cursor: pointer;" (click)="getRooms(6)">5</a></li>
                    <li><a class="dropdown-item" style="cursor: pointer;" (click)="getRooms(7)">6</a></li>
                  </ul>
                </div>
              </div>

              <div class="constructionType">
                <div class="btn-group">
                  <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{constructionTypeText}}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" style="cursor: pointer;"
                        (click)="getConstructionType(0)">{{'createAd.stone' | translate}}</a></li>
                    <li><a class="dropdown-item" style="cursor: pointer;"
                        (click)="getConstructionType(1)">{{'createAd.panels' | translate}}</a></li>
                    <li><a class="dropdown-item" style="cursor: pointer;"
                        (click)="getConstructionType(2)">{{'createAd.monolith' | translate}}</a></li>
                    <li><a class="dropdown-item" style="cursor: pointer;"
                        (click)="getConstructionType(3)">{{'createAd.bricks' | translate}}</a></li>
                    <li><a class="dropdown-item" style="cursor: pointer;"
                        (click)="getConstructionType(4)">{{'createAd.cassete' | translate}}</a></li>
                    <li><a class="dropdown-item" style="cursor: pointer;"
                        (click)="getConstructionType(5)">{{'createAd.wooden' | translate}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="spceAndPaymentTime mb-3">
          <div class="card">
            <h5 class="card-header">{{'createAd.space' | translate}}</h5>
            <div class="card-body added-block">
              <input type="number" class="form-control" id="space" placeholder="{{'createAd.space' | translate}}"
                formControlName="space">
            </div>
          </div>
        </div>
      </div>

      <div class="spceAndPaymentTime mb-3">
        <div class="card">
          <h5 class="card-header">{{'createAd.tarif' | translate}}</h5>
          <div class="card-body added-block">
            <select class="form-select" #tariffValue aria-label="Default select example" id="engineType"
              formControlName="state" (change)="checkTariffStatus(tariffValue.value)">
              <option value="0">{{'createAd.withOutTariff' | translate}}</option>
              <option *ngFor="let tariff of tariffList" value="{{tariff.id}}">{{tariff.name}},
                <div class="price">
                  <div class="value">
                    <div *ngIf="tariff.salePrice == tariff.price; else showSalePrice" class="value">
                      <h5 class="value">{{tariff.salePrice}} AMD</h5>
                    </div>
                  </div>
                  <ng-template #showSalePrice>
                    <h5 class="value">
                      <h5 class="deleted">
                      </h5>
                      {{tariff.salePrice}} AMD
                    </h5>
                  </ng-template>
                </div>
              </option>
            </select>
          </div>
          <div class="text">
            <a>{{'tariff.yourBalanceIs' | translate}} {{user.balance}} AMD </a>
          </div>

          <div class="alert alert-danger" role="alert" *ngIf="showErrorMessage">
            {{'tariff.tarinsufficientBalanceif' | translate}}, <a
              routerLink="/profile/balance">{{'tariff.replenish'|translate}}!</a>
          </div>
        </div>
      </div>

      <div class="vehice" *ngIf="showVehicle && showVehicleOnlyAuto">
        <div class="vehicleMain mb-3">
          <div class="card">
            <h5 class="card-header">{{'createAd.markAndModel' | translate}}</h5>
            <div class="card-body added-block">
              <!-- <div class="mark"> -->
              <div class="btn-group">
                <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{vehicleMarkText}}
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li *ngFor="let mark of vehicleMark"><a class="dropdown-item" style="cursor: pointer;"
                      (click)="getMark(mark)">{{mark.name}}</a></li>
                </ul>
              </div>
              <!-- </div> -->
              <div class="model">
                <div class="btn-group">
                  <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{vehicleModelText}}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li *ngFor="let model of vehicleModel"><a class="dropdown-item" style="cursor: pointer;"
                        (click)="getModel(model)">{{model.name}}</a></li>
                  </ul>
                </div>
              </div>
            </div>


          </div>
        </div>

        <div class="vehicleMain mb-3">
          <div class="card">
            <h5 class="card-header">{{'createAd.engineSizeAndEngineType' | translate}}</h5>
            <div class="card-body added-block">
              <div class="btn-group">
                <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{vehicleEngineSizeText}} (L)
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li *ngFor="let size of vehicleEngineSize"><a class="dropdown-item" style="cursor: pointer;"
                      (click)="getEngineSize(size)">{{size.size}}</a></li>
                </ul>
              </div>
              <div class="engineType">
                <div class="btn-group">
                  <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{vehicleEngineTypeText}}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li *ngFor="let type of vehicleEngineType"><a class="dropdown-item" style="cursor: pointer;"
                        (click)="getEngineType(type)">{{type.engineType}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="vehicleMain mb-3">
          <div class="card">
            <h5 class="card-header">{{'createAd.bodyTypeAndDriveType' | translate}}</h5>
            <div class="card-body added-block">
              <div class="btn-group">
                <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{vehicleBodyTypeText}}
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li *ngFor="let bodyType of vehicleBodyType"><a class="dropdown-item" style="cursor: pointer;"
                      (click)="getBodyType(bodyType)">{{bodyType.name}}</a></li>
                </ul>
              </div>
              <div class="driveType">
                <div class="btn-group">
                  <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{vehicleDriveTypeText}}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li *ngFor="let drive of vehicleDriveType"><a class="dropdown-item" style="cursor: pointer;"
                        (click)="getDriveType(drive)">{{drive.name}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="vehicleMain mb-3">
          <div class="card">
            <h5 class="card-header">{{'createAd.YearTransmissionTypeAndColor' | translate}}</h5>
            <div class="card-body added-block">
              <div class="btn-group">
                <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Year
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li *ngFor="let year of yearsArr"><a class="dropdown-item" (click)="getYear(year)">{{year}}</a></li>
                </ul>
              </div>

              <div class="transmissionType">
                <div class="btn-group">
                  <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{vehicleteTransmissionText}}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li *ngFor="let transmission of vehicleTransmissionType"><a class="dropdown-item"
                        style="cursor: pointer;"
                        (click)="getTransmissionType(transmission)">{{transmission.transmissionType}}</a></li>
                  </ul>
                </div>
              </div>

              <div class="color">
                <div class="btn-group">
                  <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{vehicleColorText}}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li *ngFor="let color of vehicleColor"><a class="dropdown-item" style="cursor: pointer;"
                        (click)="getColor(color)">{{color.name}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="vehicleMain mb-3">
          <div class="card">
            <h5 class="card-header">Whell, Mileage and Customs Cleared</h5>
            <div class="card-body added-block">
              <div class="btn-group">
                <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  {{whellText}}
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li *ngFor="let wheell of vehicleWheelType"><a class="dropdown-item"
                      (click)="getWhell(wheell)">{{wheell.wheel}}</a></li>
                </ul>
              </div>

              <div class="mileage">
                <input type="number" class="form-control" id="mileage" placeholder="Mileage" formControlName="mileage">
              </div>

              <div class="customsCleared">
                <input class="form-check-input" type="checkbox" value="1" id="customsCleared"
                  formControlName="customsCleared">
                <label class="form-check-label" for="customsCleared">
                  {{'createAd.customsCleared' | translate}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="electronics allPrStates mb-3" *ngIf="showProductStateOnly">
        <div class="card">
          <h5 class="card-header">{{'createAd.productState' | translate}}</h5>
          <div class="card-body added-block">
            <div class="btn-group">
              <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{productStateText}}
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getProductState(0)">{{'createAd.new' |
                    translate}}</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getProductState(1)">{{'createAd.used' |
                    translate}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="clothesAndShoes mb-3" *ngIf="showClothesAndShoes">
        <div class="card">
          <h5 class="card-header">{{'createAd.clothingSizeAndShoesSize' | translate}}</h5>
          <div class="card-body added-block">
            <div class="clothingSize">
              <input type="text" class="form-control" id="space" placeholder="{{'createAd.clothingSize' | translate}}"
                formControlName="clothingSize">
            </div>
            <div class="shoesSize">
              <input type="number" class="form-control" id="space" placeholder="{{'createAd.shoesSize' | translate}}"
                formControlName="shoesSize">
            </div>
          </div>
        </div>
      </div>

      <div class="maleFemale mb-3" *ngIf="showGender">
        <div class="card">
          <h5 class="card-header">{{'createAd.gender' | translate}}</h5>
          <div class="card-body added-block">
            <div class="btn-group">
              <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{showGenderText}}
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getGender(false)">{{'createAd.male' |
                    translate}}</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getGender(true)">{{'createAd.female' |
                    translate}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="forNewBorns mb-3" *ngIf="showForNewBorns">
        <div class="card">
          <h5 class="card-header">{{'createAd.forNewBorns' | translate}}</h5>
          <div class="card-body added-block">
            <div class="forNewBorns">
              <input class="form-check-input" type="checkbox" value="1" id="forNewBorns" formControlName="forNewBorns">
              <label class="form-check-label" for="forNewBorns">
                {{'createAd.forNewBorns' | translate}}
              </label>
            </div>
          </div>
        </div>
      </div>


      <div class="productsAndDrinks mb-3" *ngIf="showProductsAndDrinks">
        <div class="card">
          <h5 class="card-header">Propteries</h5>
          <div class="card-body added-block">
            <input class="form-check-input" type="checkbox" value="1" id="isLocal" formControlName="isLocal">
            <label class="form-check-label" for="isLocal">
              {{'createAd.isLocal' | translate}}
            </label>

            <div class="isFrozen">
              <input class="form-check-input" type="checkbox" value="1" id="isFrozen" formControlName="isFrozen">
              <label class="form-check-label" for="isFrozen">
                {{'createAd.isFrozen' | translate}}
              </label>
            </div>

            <div class="isNaturalDrink">
              <input class="form-check-input" type="checkbox" value="1" id="isNaturalDrink"
                formControlName="isNaturalDrink">
              <label class="form-check-label" for="isNaturalDrink">
                {{'createAd.isNaturalDrink' | translate}}
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="cigaretteAndAlcohol mb-3" *ngIf="showCigaretteAndAlcohol">
        <div class="card">
          <h5 class="card-header">{{'createAd.alcoholVolume' | translate}}</h5>
          <div class="card-body added-block">
            <div class="clothingSize">
              <input type="number" class="form-control" id="space"
                placeholder="{{'createAd.alcoholVolume' | translate}}" formControlName="alcoholVolume">
            </div>
            <div class="isLocal2">
              <input class="form-check-input" type="checkbox" value="1" id="isLocal2" formControlName="isLocal">
              <label class="form-check-label" for="isLocal2">
                {{'createAd.isLocal' | translate}}
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="tourismAndRest mb-3" *ngIf="showTourismAndRest">
        <div class="card">
          <h5 class="card-header">{{'createAd.DepartureDayReturnDayReversed' | translate}}</h5>
          <div class="card-body added-block">
            <div class="departureDay">
              <label for="departureDay" class="form-label">{{'createAd.departureDay' | translate}}</label>
              <input type="date" min="2021-06-18" class="form-control" id="departureDay" formControlName="departureDay">
            </div>

            <div class="returnDat">
              <label for="returnDay" class="form-label">{{'createAd.returnDay' | translate}}</label>
              <input type="date" class="form-control" id="returnDay" min="2021-06-18" formControlName="returnDay">
            </div>

            <div class="reversed">
              <label for="reservedTickets" class="form-label">{{'createAd.reversed' | translate}}</label>
              <input type="text" class="form-control" id="reservedTickets" formControlName="reservedTickets">
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="work mb-3" *ngIf="showWork">
        <div class="card">
          <h5 class="card-header">Payment Time</h5>
          <div class="card-body added-block">
            <div class="btn-group">
              <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{paymentTimeText}}
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getPaymentTime(0)">Ամսավճար</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getPaymentTime(1)">Օրավճար</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->

      <div class="services mb-3" *ngIf="showService">
        <div class="card">
          <h5 class="card-header">{{'createAd.transportation' | translate}}</h5>
          <div class="card-body added-block">
            <!-- <div class="btn-group">
              <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{paymentTimeText}}
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getPaymentTime(0)">Ամսավճար</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getPaymentTime(1)">Օրավճար</a></li>
              </ul>
            </div> -->
            <div class="transportation">
              <div class="transportation">
                <input class="form-check-input" type="checkbox" value="1" id="transportation">
                <label class="form-check-label" for="transportation">
                  {{'createAd.transportation' | translate}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="acquaintance mb-3" *ngIf="showAcquaintance">
        <div class="card">
          <h5 class="card-header">{{'createAd.heightAndWeight' | translate}}</h5>
          <div class="card-body added-block">
            <input type="number" class="form-control" id="height" placeholder="{{'createAd.height' | translate}}"
              formControlName="height">
            <div class="weight">
              <input type="number" class="form-control" id="weight" placeholder="{{'createAd.weight' | translate}}"
                formControlName="weight">
            </div>
            <div class="shoesSize">
              <input type="number" class="form-control" id="space" placeholder="Age" formControlName="age">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="isRegional mb-3" *ngIf="showMain">
      <div class="button-end">
        <div class="card">
          <h5 class="card-header">{{'createAd.isRegional' | translate}}</h5>
          <div class="card-body added-block">
            <input class="form-check-input" type="checkbox" value="1" id="isRegional" formControlName="isRegional">
            <label class="form-check-label" for="isRegional">
              {{'createAd.isRegional' | translate}}
            </label>
          </div>
        </div>
      </div>
      <button [disabled]="!adCreateForm.valid" class="btn btn-success my_button"
        *ngIf="showButton && showMain">{{'createAd.add' | translate}}</button>

    </div>
  </form>

  <div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mapModalLabel">{{'createAd.map' | translate}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <agm-map [latitude]="lat" [zoom]="15" [longitude]="lng" (mapClick)="chooseLocation($event)">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
          <!-- <div class="container">
            <ya-map [center]="[50, 50]" [zoom]="15">
              <ya-placemark [geometry]="[lat, lng]"></ya-placemark>
            </ya-map>
          </div> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>
