.wrapper {
  padding-left: 20px;
}
/* .btn_size {
  width: 300px;
} */
.categories {
  display: flex;
}
.subCategories,
.region,
.city,
.tags,
.price,
.rooms,
.constructionType,
.space,
.model,
.engineType,
.driveType,
.transmissionType,
.color,
.customsCleared,
.mileage,
.shoesSize,
.isFrozen,
.isNaturalDrink,
.isLocal2,
.returnDat,
.reversed,
.weight {
  margin-left: 20px;
}
/* .categories div:last-child{
  margin-left: 20px;
} */
.owner,
.location,
.aim,
.added-block,
.currencyAndPrice,
.phone,
.image,
.floorRoomsCT,
.spceAndPaymentTime,
.vehicleMain,
.electronics,
.clothesAndShoes,
.forNewBorns,
.productsAndDrinks,
.cigaretteAndAlcohol,
.productsAndDrinks,
.tourismAndRest,
.work,
.services,
.acquaintance,
.maleFemale,
.isRegional,
.maps {
  display: flex;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
#name,
#phone,
#image,
#mileage {
  width: 300px;
}
textarea {
  resize: none;
  width: 300px;
  height: 130px;
}
.tags input {
  width: 180px;
}
.customsCleared {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-left: 30px;
}
#customsCleared {
  margin-right: 10px;
}
.image .card-body {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}
.image .img {
  width: 300px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
.img .img-preview {
  width: 20%;
  height: 60px;
  position: relative;
  object-fit: contain;
}
.img .img-preview:not(:last-child) {
  margin-right: 1.5%;
}
.img .img-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.delete {
  position: absolute;
  top: 0;
  right: 0;
}

.my_button {
  width: 245px;
  height: 65px;
}

/* LOADER */
.loading-field {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(115, 115, 121, 0.281);
  backdrop-filter: blur(2px);
  z-index: 200;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* LOADEREND */

/* ADDED */
.my-alert {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  opacity: 0;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: alert 1s ease-in-out forwards;
  z-index: 1000;
}
.err-text {
  margin: 10px 0 0 0;
  white-space: nowrap;
}
@keyframes alert {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* MAPS */
agm-map {
  height: 400px;
}
/* .modal-body .container{
  width: 1000px;
  height: 500px;

} */

.dropdown-menu {
  max-height: 400px;
  overflow-y: scroll;
}
.isRegional {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* margin-left: 15px; */
  gap: 60px;
}
