<app-navbar></app-navbar>

<div class="container mt-2" *ngIf="favoriteList">
  <div class="row" *ngFor="let favorite of favoriteList">
    <h1 class="categoryName">{{favorite.category.name}}</h1>
    <div class="col-md-3 col-sm-6 colForMarginBottom" *ngFor="let ads of favorite.ads">
      <div class="card card-block" (click)="productInfo(favorite.category, ads.id)">
        <!-- <img src="{{ads.image}}" alt="Photo of sunset"> -->
        <img src="{{ads.image == '' ? '../../../../../assets/images/noimage.png' : ads.image}}" alt="Photo of sunset">
        <h5 class="card-title mt-3 mb-3">{{ads.name}}</h5>
        <p class="card-text">{{ads.description}}</p>
      </div>
    </div>
  </div>
</div>
<div class="text" *ngIf="favoriteListIsEmpty">List is empty</div>
