.items{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.deleted{
  color: red;
  text-decoration: line-through;
  margin-right: 20px;
}

.middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
