<div class="wrapper">
  <div class="items">
    <div class="card" style="width: 18rem;" *ngFor="let tariff of tariffs">
      <div class="card-body">
        <h5 class="card-title">{{tariff.name}}</h5>
        <p class="card-text">{{tariff.desc}}</p>
        <div class="price">
          <div class="value">
            <div *ngIf="tariff.salePrice == tariff.price; else showSalePrice" class="value">
              <h5 class="value">{{tariff.salePrice}} AMD</h5>
            </div>
          </div>
          <ng-template #showSalePrice>
            <h5 class="value">
              <h5 class="deleted">
                {{tariff.price}} AMD
              </h5>
               {{tariff.salePrice}} AMD
            </h5>
          </ng-template>
        </div>
        <a routerLink="/profile/my-ads" class="btn btn-primary">{{'myPage.tariff.order' | translate}}</a>
      </div>
    </div>
  </div>
</div>
