<div *ngIf="showNavbar" class="main-wrapper">
  <header>
    <div class="conainertwo">
      <div class="first-side">
        <div class="containerFirst">
          <div class="logo">
            <a style="cursor: pointer;" routerLink="/">
              <img src="../../../assets/images/mall.png" alt="Logo">
            </a>
          </div>
          <div class="search">
            <label>
              <button class="search-btn" (click)="searchProduct(searchInput.value)">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                  xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512">
                  <g>
                    <path
                      d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5   S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9   C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z" />
                  </g>
                </svg>
              </button>
              <!-- <input type="text" placeholder="{{'navbar.search' | translate}}"  (keyup)="promptSearch($event.target.value)"  id="search" #searchInput> -->
              <!-- ex -->
              <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..."
                type="text" placeholder="{{'navbar.search' | translate}}" (keyup)="promptSearch($event.target.value)"
                id="search" #searchInput>
              <datalist id="datalistOptions">
                <option value="{{prompt['searchString']}}" *ngFor="let prompt of promptValue"
                  (click)="searchPromptValue(prompt['searchString'])">
              </datalist>
            </label>
          </div>
          <div class="my-page login">
            <button class="btn btn-danger" (click)="addProduct()">{{'navbar.createAd' | translate}}</button>
          </div>
          <div class="login">
            <!-- <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#loginRegister" *ngIf="!showLogOut" #loginRegister>{{'navbar.loginRegister' | translate}}</button> -->
            <button class="btn btn-secondary" routerLink="/login" *ngIf="!showLogOut"
              #loginRegister>{{'navbar.loginRegister' | translate}}</button>
            <button *ngIf="showLogOut" class="btn btn-secondary" routerLink="/profile">
              <div class="buttonText">
                {{'navbar.myPage' | translate}}
              </div>
            </button>
          </div>
        </div>
        <div class="containerSecond">
          <div class="favorite" (click)="favoriteAds()" *ngIf="logined">
            <svg id="color" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="m11.466 22.776c.141.144.333.224.534.224s.393-.08.534-.224l9.594-9.721c4.001-4.053 1.158-11.055-4.532-11.055-3.417 0-4.985 2.511-5.596 2.98-.614-.471-2.172-2.98-5.596-2.98-5.672 0-8.55 6.984-4.531 11.055z"
                fill="#f44336" />
            </svg>
            <span class="badge badge-light pos">{{favCount}}</span>
          </div>

          <div class="exchange-and-currency" (click)="getInfoExchange(excahnge['userID'], excahnge['adID'])">
            <div class="exchange" data-bs-toggle="modal" data-bs-target="#echangeService">
              <div class="arq" *ngIf="excahnge">
                <span>{{'createAd.buy' | translate}}</span>
                <span>{{excahnge['buy']}} {{excahnge['symbol']}}</span>
              </div>
              <div class="vajarq" *ngIf="excahnge">
                <span>{{'createAd.forSale' | translate}}</span>
                <span>{{excahnge['sale']}} {{excahnge['symbol']}}</span>
              </div>
            </div>
            <div class="favoriteCurrency" *ngIf="selectedCurrency && currencyList">
              <select class="btn btn-mini currency-select" #favCurr (change)="changeFav(favCurr.value)">
                <option [value]="currency.id" *ngFor="let currency of currencyList"
                  [selected]="currency.id == selectedCurrency.id">({{currency.currencySymbol}}) {{currency.currency}}
                </option>
              </select>
            </div>
          </div>

          <div class="language">
            <div class="arm">
              <a (click)="changeLang('0')">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                  style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <path style="fill:#FFB400;" d="M0,387.466c1.077,20.215,17.807,36.277,38.292,36.277h435.359c21.18,0,38.349-17.169,38.349-38.349
                  v-73.479H0V387.466z" />
                  <path style="fill:#FF4B55;" d="M473.651,88.257H38.292c-20.485,0-37.215,16.062-38.292,36.277v75.552h512v-73.479
                  C512,105.427,494.831,88.257,473.651,88.257z" />
                  <rect y="200.089" style="fill:#41479B;" width="512" height="111.83" />
                </svg>
              </a>
            </div>
            <div class="rus">
              <a (click)="changeLang('1')">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                  style="enable-background:new 0 0 512 512;" xml:space="preserve">
                  <path style="fill:#F5F5F5;" d="M473.655,88.276H38.345C17.167,88.276,0,105.443,0,126.621v73.471h512v-73.471
                  C512,105.443,494.833,88.276,473.655,88.276z" />
                  <path style="fill:#FF4B55;" d="M0,385.379c0,21.177,17.167,38.345,38.345,38.345h435.31c21.177,0,38.345-17.167,38.345-38.345
                  v-73.471H0V385.379z" />
                  <rect y="200.09" style="fill:#41479B;" width="512" height="111.81" />
                </svg>
              </a>
            </div>
            <div class="en">
              <a (click)="changeLang('2')">
                <svg id="Capa_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512"
                  xmlns="http://www.w3.org/2000/svg">
                  <g>
                    <path
                      d="m495.484 90.839h-231.226l-255.258 176.661v146.833h486.484l16.516-9.688v-30.673l-10.75-10.222v-29l10.75-7.967v-47.189l-9.667-9.261v-29.667l9.667-8.262v-47.188l-9.667-8.549v-26l9.667-12.639v-30.673c0-9.122-7.395-16.516-16.516-16.516z"
                      fill="#e5646e" />
                    <path d="m256.333 138.028h255.667v47.189h-255.667z" fill="#f2f2f6" />
                    <path d="m256 232.405 8.258 47.189h247.742v-47.189z" fill="#f2f2f6" />
                    <path
                      d="m16.516 355.097v-84.097l-16.516 8.594v47.189l7 5.967v31l-7 10.222v30.673c0 9.122 7.395 16.516 16.516 16.516h478.968c9.121 0 16.516-7.395 16.516-16.516h-445.935c-27.365 0-49.549-22.183-49.549-49.548z"
                      fill="#db4655" />
                    <path d="m264.258 90.839h-247.742l-10.516 16.516 10.516 172.239h247.742z" fill="#5055a0" />
                    <path d="m16.516 90.839c-9.121 0-16.516 7.394-16.516 16.516v172.239h16.516z" fill="#3f3f8f" />
                    <path
                      d="m33.113 127.657c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.695 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m33.113 193.722c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.695 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m33.113 259.786c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.695 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m33.113 160.69c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258-.001 4.56-3.695 8.258-8.259 8.258z"
                      fill="#f2f2f6" />
                    <path
                      d="m33.113 226.754c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.695 8.258-8.259 8.258z"
                      fill="#f2f2f6" />
                    <path
                      d="m231.306 127.657c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m231.306 193.722c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m231.306 259.786c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#fff" />
                    <g fill="#f2f2f6">
                      <path
                        d="m231.306 160.69c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z" />
                      <path
                        d="m231.306 226.754c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z" />
                      <path
                        d="m82.661 127.657c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z" />
                      <path
                        d="m82.661 193.722c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z" />
                      <path
                        d="m82.661 259.786c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z" />
                    </g>
                    <path
                      d="m82.661 160.69c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258-.001 4.56-3.694 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m82.661 226.754c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m57.887 144.173c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258-.001 4.561-3.694 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m57.887 210.238c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m57.887 177.206c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#f2f2f6" />
                    <path
                      d="m57.887 243.27c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#f2f2f6" />
                    <path
                      d="m132.21 127.657c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.695 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m132.21 193.722c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.695 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m132.21 259.786c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.695 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m132.21 160.69c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258-.001 4.56-3.695 8.258-8.259 8.258z"
                      fill="#f2f2f6" />
                    <path
                      d="m132.21 226.754c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.695 8.258-8.259 8.258z"
                      fill="#f2f2f6" />
                    <path
                      d="m107.435 144.173c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258 0 4.561-3.694 8.258-8.259 8.258z"
                      fill="#f2f2f6" />
                    <path
                      d="m107.435 210.238c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#f2f2f6" />
                    <path
                      d="m107.435 177.206c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m107.435 243.27c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m181.677 127.657c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#f2f2f6" />
                    <path
                      d="m181.677 193.722c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#f2f2f6" />
                    <path
                      d="m181.677 259.786c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#f2f2f6" />
                    <path
                      d="m181.677 160.69c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258-.001 4.56-3.694 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m181.677 226.754c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m156.903 144.173c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258-.001 4.561-3.694 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m156.903 210.238c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m156.903 177.206c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#f2f2f6" />
                    <path
                      d="m156.903 243.27c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#f2f2f6" />
                    <path
                      d="m206.532 144.173c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258-.001 4.561-3.694 8.258-8.259 8.258z"
                      fill="#f2f2f6" />
                    <path
                      d="m206.532 210.238c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#f2f2f6" />
                    <path
                      d="m206.532 177.206c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path
                      d="m206.532 243.27c-4.565 0-8.298-3.698-8.298-8.258s3.653-8.258 8.218-8.258h.081c4.565 0 8.258 3.698 8.258 8.258s-3.694 8.258-8.259 8.258z"
                      fill="#fff" />
                    <path d="m3 360.333 17.26 13.639h491.74v-47.189h-495.484z" fill="#f2f2f6" />
                    <path d="m0 326.783v47.189h20.26c-2.401-5.82-3.743-12.189-3.743-18.876v-28.314h-16.517z"
                      fill="#e1e1e6" />
                  </g>
                </svg>
              </a>
            </div>
            <div class="logout">
              <div class="buttonLogOut" *ngIf="showLogOut" (click)="logout()">
                <svg viewBox="0 0 511 512" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="m361.5 392v40c0 44.113281-35.886719 80-80 80h-201c-44.113281 0-80-35.886719-80-80v-352c0-44.113281 35.886719-80 80-80h201c44.113281 0 80 35.886719 80 80v40c0 11.046875-8.953125 20-20 20s-20-8.953125-20-20v-40c0-22.054688-17.945312-40-40-40h-201c-22.054688 0-40 17.945312-40 40v352c0 22.054688 17.945312 40 40 40h201c22.054688 0 40-17.945312 40-40v-40c0-11.046875 8.953125-20 20-20s20 8.953125 20 20zm136.355469-170.355469-44.785157-44.785156c-7.8125-7.8125-20.476562-7.8125-28.285156 0-7.8125 7.808594-7.8125 20.472656 0 28.28125l31.855469 31.859375h-240.140625c-11.046875 0-20 8.953125-20 20s8.953125 20 20 20h240.140625l-31.855469 31.859375c-7.8125 7.808594-7.8125 20.472656 0 28.28125 3.90625 3.90625 9.023438 5.859375 14.140625 5.859375 5.121094 0 10.238281-1.953125 14.144531-5.859375l44.785157-44.785156c19.496093-19.496094 19.496093-51.214844 0-70.710938zm0 0" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="second-side" *ngIf="categories.length > 0">
        <div class="con-1">
          <div class="all-list">
            <div class="dropdown">
              <a class="btn  dropdown-toggle menu-bl" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                <svg viewBox="0 -53 384 384" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="m368 154.667969h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" />
                  <path
                    d="m368 32h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" />
                  <path
                    d="m368 277.332031h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" />
                </svg>
                <h6>{{translate.allCategories[culture]}}</h6>
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownSubMenuLink">
                <!-- <li *ngFor="let category of categories"><a class="dropdown-item" [routerLink]="['/category', category.category]" routerLinkActive="active">{{category.category}}</a></li> -->
                <li *ngFor="let category of categories" class="open">
                  <a class="dropdown-item" (mouseenter)="getSubCategory(category.id)"
                    [routerLink]="['/category', category.id]" routerLinkActive="active">
                    {{category.category}}
                  </a>
                  <ul class="nested dropdown-menu">
                    <!-- <li *ngFor="let subCat of subCategories">
                        <a (click)="redirectBySubCategory(category.category, subCat)">
                          {{subCat.type}}
                        </a>
                      </li> -->
                    <li *ngFor="let subCat of subCategories"><a (click)="redirectBySubCategory(category.id, subCat)"
                        class="dropdown-item" style="cursor: pointer;">{{subCat.type}}</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <div class="first menu-bl">
            <a style="cursor: pointer;">
              <h6 (click)="openCategory(categories[1].category, categories[1].id)">{{categories[1].category}}</h6>
            </a>
          </div>

          <div class="second menu-bl">
            <a style="cursor: pointer;">
              <h6 (click)="openCategory(categories[2].category, categories[2].id)">{{categories[2].category}}</h6>
            </a>
          </div>

          <div class="third menu-bl">
            <a style="cursor: pointer;">
              <h6 (click)="openCategory(categories[3].category, categories[3].id)">{{categories[3].category}}</h6>
            </a>
          </div>
        </div>

        <div class="con-2">
          <div class="fourth menu-bl">
            <a style="cursor: pointer;">
              <h6 (click)="openCategory(categories[4].category, categories[4].id)">{{categories[4].category}}</h6>
            </a>
          </div>

          <div class="fourth menu-bl">
            <a style="cursor: pointer;">
              <h6 (click)="openCategory(categories[18].category, categories[18].id)">{{categories[18].category}}</h6>
            </a>
          </div>

          <div class="fourth menu-bl">
            <a style="cursor: pointer;">
              <h6 (click)="openCategory(categories[20].category, categories[20].id)">{{categories[20].category}}</h6>
            </a>
          </div>

          <div class="fourth menu-bl">
            <a style="cursor: pointer;">
              <h6 (click)="openCategory(categories[21].category, categories[21].id)">{{categories[21].category}}</h6>
            </a>
          </div>
        </div>

      </div>
    </div>

    <!-- Login Register Modal -->
    <!-- <div class="modal fade" id="loginRegister" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" aria-labelledby="loginRegisterLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeLoginModal (click)="deleteForm()"></button>
          </div>
          <div class="modal-body">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-login-tab" data-bs-toggle="tab" data-bs-target="#nav-login" type="button" role="tab" aria-controls="nav-home" aria-selected="true">{{'navbar.login' | translate}}</button>
                <button class="nav-link" id="nav-reg-tab" data-bs-toggle="tab" data-bs-target="#nav-reg" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Register</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
                <p class="text-center text-danger marginForMessage" *ngIf="wrongPasswordOrEmail">Wrong Email Or Password</p>
                <form class="p-4" [formGroup]="loginForm" (submit)="login()">
                  <div class="mb-3">
                    <label for="exampleDropdownFormEmail2" class="form-label">{{'navbar.emailOrPhone' | translate}}</label>
                    <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com" formControlName="userName">
                  </div>
                  <div class="mb-3">
                    <label for="exampleDropdownFormPassword2" class="form-label">{{'navbar.password' | translate}}</label>
                    <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password" formControlName="password">
                  </div>
                  <div class="mb-3">
                    <a href="">{{'navbar.forgotPassword' | translate}}</a>
                  </div>
                  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">{{'navbar.signIn' | translate}}</button>
                </form>
              </div>

              <div class="tab-pane fade" id="nav-reg" role="tabpanel" aria-labelledby="nav-reg-tab">
                <form class="p-4" [formGroup]="registerForm" (submit)="register()" *ngIf="!hideRegister">
                  <div class="mb-3">
                    <label for="name2" class="form-label">{{'navbar.name' | translate}}</label>
                    <input type="text" class="form-control" id="name2" placeholder="Name" formControlName="firstName">
                  </div>
                  <div class="mb-3">
                    <label for="email2" class="form-label">{{'navbar.emailAdress' | translate}}</label>
                    <input type="email" class="form-control" id="email2" placeholder="email@example.com" formControlName="email">
                  </div>
                  <div class="mb-3">
                    <label for="password2" class="form-label">{{'navbar.password' | translate}}</label>
                    <input type="password" class="form-control" id="password2" placeholder="{{'navbar.password' | translate}}" formControlName="password">
                  </div>
                  <div class="mb-3">
                    <label for="phoneNumber2" class="form-label">{{'navbar.phoneNumber' | translate}}</label>
                    <input type="number" class="form-control" id="phoneNumber2" placeholder="Phone Number{{'navbar.phoneNumber' | translate}}" formControlName="phoneNumber">
                  </div>
                  <div class="mb-3">
                    <label for="dropdownCountry" class="form-label">{{'navbar.country' | translate}}</label>
                    <select class="form-select" id="dropdownCountry" aria-label="Default select example" #country (change)="selectedCountryId = country.value">
                      <option selected value="{{c.id}}" *ngFor="let c of countries" [selected]="c.id == 1">{{c.country}}</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary">Register</button>
                </form>
                <div class="p-4" *ngIf="hideRegister">
                  <div class="sp" *ngIf="!spin">
                    <div class="mb-3">
                      <label for="confirm-c" class="form-label">{{'navbar.enterCode' | translate}}</label>
                      <input type="text" class="form-control" id="confirm-c" placeholder="{{'navbar.enterCode' | translate}}" #passCode>
                    </div>
                    <button type="button" class="btn btn-primary" id="close-modal" (click)="confirmEmail(passCode.value)">{{'navbar.confirm' | translate}}</button>
                  </div>
                  <div class="spinner-grow text-success spinner-loader" *ngIf="spin"></div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Exchange Service -->
    <div class="modal fade" id="echangeService" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">{{'exchange.exchange' | translate}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
              #closeExchangeModal></button>
          </div>
          <div class="modal-body" *ngIf="exchangeDetailView">
            <div class="header-exchange">
              <div class="saleSumma exchange-div">
                <h5>{{'exchange.saleSumma' | translate}}</h5>
                <div class="value">
                  <h5>{{exchangeDetailView['saleSumma']}}</h5>
                </div>
              </div>
              <div class="buySumma exchange-div">
                <h5>{{'exchange.buySumma' | translate}}</h5>
                <div class="value">
                  <h5>{{exchangeDetailView['buySumma']}}</h5>
                </div>
              </div>
              <div class="saleSummaRetail exchange-div">
                <h5>{{'exchange.saleSummaRetail' | translate}}</h5>
                <div class="value">
                  <h5>{{exchangeDetailView['saleSummaRetail']}}</h5>
                </div>
              </div>
              <div class="buySummaRetail exchange-div">
                <h5>{{'exchange.buySummaRetail' | translate}}</h5>
                <div class="value">
                  <h5>{{exchangeDetailView['buySummaRetail']}}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#mapModalStatic">{{'exchange.map' |
              translate}}</button>
            <button class="btn btn-secondary" (click)="goToExchangeView(exchangeDetailView.id)">{{'exchange.all' |
              translate}}</button>
            <button class="btn btn-success" (click)="addExchange()">{{'exchange.add' | translate}}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="mapModalStatic" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">{{'exchange.map' | translate}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <agm-map [latitude]="armLat" [zoom]="10" [longitude]="armLng">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
          </div>
          <div class="modal-footer">
            <!-- <button class="btn btn-success" (click)="addExchange()">{{'exchange.add' | translate}}</button> -->
          </div>
        </div>
      </div>
    </div>

  </header>
</div>
