* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.1rem;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
}
header {
  width: 100%;
  min-height: 100px;
  box-shadow: 15px 7px 13px rgb(0 0 0 / 50%);
}
header .container,
.conainertwo {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 20px;
}
header .container .first-side,
.containerFirst,
.containerSecond,
.exchange-and-currency,
header .conainertwo .first-side,
.exchange-and-currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerFirst {
  justify-content: space-between;
  flex: 1.5;
}
.containerSecond {
  flex: 0.8;
  justify-content: space-evenly !important;
}
.exchange-and-currency {
  -webkit-box-shadow: -2px 9px 13px 0px #c9c9c9;
  box-shadow: -2px 9px 13px 0px #c9c9c9;
  border-radius: 10px;
  margin-left: 20px;
}
.exchange-and-currency .btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}
header .container .first-side .logo a img,
header .conainertwo .first-side .logo a img {
  width: 200px;
  height: 100px;
}
header .container .first-side .search label input,
header .conainertwo .first-side .search label input {
  /* max-width: 500px; */
  min-width: 360px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 25px;
  background: #d0d3d4;
  padding: 0% 5% 0 13%;
  color: #424949;
}
header .conainertwo .first-side .search label,
header .container .first-side .search label {
  position: relative;
}
header .container .first-side .search label .search-btn,
header .conainertwo .first-side .search label .search-btn {
  width: 35px;
  height: 35px;
  background: none;
  outline: none;
  border: none;
  position: absolute;
  left: 2%;
  top: calc(50% - 16px);
}
header .container .first-side .search label button svg path,
header .conainertwo .first-side .search label button svg path {
  fill: #7b7d7d;
}
/*Login*/
header .container .first-side .login button:not(:last-child),
header .conainertwo .first-side .login button:not(:last-child) {
  background: #d0d3d4;
  width: 150px;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 25px;
  transition: 0.3s;
}
header .container .first-side .login button:not(:last-child):hover,
header .conainertwo .first-side .login button:not(:last-child):hover {
  background: #b3b6b7;
}
header .container .second-side,
header .conainertwo .second-side {
  /* margin-top: 1%; */
  display: flex;
  justify-content: space-between;
  /* height: 50px; */
}

header .container .second-side .all-list,
header .conainertwo .second-side .all-list {
  width: 190px;
  position: relative;
}
header .container .second-side .all-list button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  outline: none;
  border: none;
}

header .container .second-side .all-list button svg {
  width: 25px;
  height: 25px;
  margin-right: 5%;
}
header .container .second-side .all-list,
header .container .second-side .menu-bl,
header .conainertwo .second-side .all-list,
header .conainertwo .second-side .menu-bl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-1 {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-right: 50px;
}
.con-1 div {
  margin-right: 25px;
}
.con-2 div {
  margin-right: 25px;
}
.con-2 {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.top-menu,
.nested {
  /* height: 450px; */
  display: none;
  /* width: 230px; */
  /* padding: 0; */
  /* margin: 0; */
  position: absolute;
  z-index: 1;
  /* top: 50px; */
  /* background: #cacfd2; */
  z-index: 500;
}
.top-menu li {
  height: 40px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  position: relative;
}
.open {
  position: relative;
}
.top-menu li:hover {
  background: #909497;
}
header .container .second-side .all-list:hover .top-menu,
header .conainertwo .second-side .all-list:hover .top-menu {
  display: block;
  z-index: 1000;
}
/* .top-menu li:hover .nested { */
.open:hover .nested {
  display: block;
}
.nested {
  /* width: 300px; */
  /* padding-top: 10px; */
  left: 100%;
  top: 0;
  /* border-left: 1px solid silver; */
}
.nested li {
  padding-left: 10px;
}
.nested .name {
  margin: 10px;
}
.top-menu li a,
.nested li a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.language {
  /* position: absolute;
  right: 15px;
  top: 0; */
  display: flex;
  /* width: 100px; */
  height: 45px;
}
.language div {
  margin-left: 10px;
}
.language div a svg {
  width: 27px;
}
.language div a {
  cursor: pointer;
}
.spinner-loader {
  width: 150px;
  height: 150px;
  margin-left: 120px;
}
.login button:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .buttonText {
  margin-right: 5px;
}
.buttonLogOut {
  cursor: pointer;
}
.buttonLogOut svg {
  /* width: 25px; */
  height: 21px;
}
/* .buttonLogOut:hover > svg path {
  fill: white;
} */
.buttonLogOut svg path {
  transition: 0.7s;
}
/* .btn-myBtn {
} */
.marginForMessage {
  position: absolute;
  width: 185px;
  left: calc(50% - 92.5px);
}
.favorite svg {
  width: 30px;
  height: 40px;
  cursor: pointer;
}
.favorite svg path {
  fill: #dc3545;
}
@media screen and (max-width: 1200px) {
  header .container .first-side .search label input,
  header .conainertwo .first-side .search label input {
    min-width: 250px;
  }
}

/* HElper Text */
.pos {
  color: black;
  position: absolute;
  left: 25px;
}
.favorite {
  position: relative;
}
/* EXCHANGE */
.exchange {
  margin-left: 10px;
  /* width: 100px; */
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.exchange > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.favoriteCurrency {
  display: flex;
  flex-direction: column;
}

.favoriteCurrency {
  position: relative;
}
.favoriteCurrency .cur {
  cursor: pointer;
}
.currency-select {
  font-weight: 700;
}
.currency-select option {
  font-weight: 700;
}
/* EXCHANGE */
.exchange-div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed silver;
  margin-bottom: 1%;
}
/* .exchange-div:not(:last-child){
  border-bottom: 1px dashed silver;
} */
.exchange-div .value {
  width: 65%;
  display: flex;
  justify-content: flex-start;
}
.header-exchange {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.exchange-div > h5 {
  color: #a9a5a5;
  font-size: 1.1rem;
}

/* Container reset */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  margin: 0 !important;
  padding: 0 !important;
}

agm-map {
  height: 400px;
}

@media screen and (max-width: 1113px) {
  .first-side {
    flex-direction: column;
  }
  .containerFirst {
    width: 100%;
    justify-content: space-around;
  }
  .containerSecond {
    width: 100%;
    justify-content: space-evenly;
  }
  .second-side {
    flex-direction: column;
  }
}
