<app-navbar></app-navbar>

<div class="wrapper">
  <aside>
    <div class="main-block"  *ngIf="formIsCreated">
      <form [formGroup]="sendFilterData">
        <div class="main-form">

        <div class="mb-2">
          <label for="country" class="form-label">Country</label>
            <select class="form-select" id="country" aria-label=".form-select example" #countrySelect (change)="selectCountry(countrySelect.value)">
              <option value="0" selected>All</option>
              <!-- <option value="{{c.id}}" [selected]="c.id == 1" *ngFor="let c of country">{{c.country}}</option> -->
              <option value="{{c.id}}" *ngFor="let c of country">{{c.country}}</option>
            </select>
          </div>

          <div class="mb-2">
            <label for="region" class="form-label">Region</label>
            <select class="form-select" id="region" aria-label=".form-select-sm example" #regionSelect (change)="selectRegion(regionSelect.value)">
              <option value="0" selected>All</option>
              <option value="{{r.id}}" *ngFor="let r of region">{{r.country}}</option>
            </select>
          </div>

          <div class="mb-2">
            <label for="city" class="form-label">City</label>
            <select class="form-select" id="city" aria-label=".form-select-sm example" #citySelect (change)="selectCity(citySelect.value)">
              <option value="0" selected>All</option>
              <option value="{{c.id}}" *ngFor="let c of city">{{c.country}}</option>
            </select>
          </div>

            <div class="mb-2">
              <label for="aim" class="form-label">AIM</label>
              <select class="form-select" id="aim" aria-label=".form-select-sm example"
              #AIMchange (change)="changeAim(AIMchange.value)">
                <option value="null">All</option>
                <option value="0">ForSale</option>
                <option value="1">ForRent</option>
                <option value="2">Exchange</option>
                <option value="3">Buy</option>
                <option value="4">Search</option>
              </select>
            </div>

            <div class="mb-2">
              <label for="owner" class="form-label">Owner</label>
              <select class="form-select" id="owner" aria-label=".form-select-sm example"
              #ownerSelect (change)="selectOwner(ownerSelect.value)">
                <option value="null">All</option>
                <option value="0">Individual</option>
                <option value="1">Agency</option>
                <option value="2">Diller</option>
              </select>
            </div>

            <div class="mb-2">
              <label for="currency" class="form-label">Currency</label>
              <select class="form-select" id="currency" aria-label=".form-select-sm example"
              #currencySelect (change)="selectCurrency(currencySelect.value)">
                <option value="null">All</option>
                <option value="0">AMD</option>
                <option value="1">RUB</option>
                <option value="2">USD</option>
              </select>
            </div>
            <div class="mb-4">
              <label for="productState" class="form-label">Product State</label>
              <select class="form-select" id="productState" aria-label=".form-select-sm example"
              #productStateSelect (change)="selectProductState(productStateSelect.value)">
                <option value="null">All</option>
                <option value="0" selected >New</option>
                <option value="1">Used</option>
              </select>
            </div>

            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="onlyWithPhotos"
                formControlName="onlyWithPhotos">
                <label class="form-check-label" for="onlyWithPhotos">
                  Only With Photos
                </label>
              </div>
            </div>

            <div class="mb-2">
              <div class="row g-2">
                <div class="col">
                  <input type="text" class="form-control" id="priceFrom" placeholder="Price From"
                  formControlName="priceFrom">
                </div>
                <div class="col">
                  <input type="text" class="form-control" id="priceTo" placeholder="Price To"
                  formControlName="priceTo">
                </div>
              </div>
            </div>
        </div>

        <div class="added-form">
          <div class="mb-3" *ngIf="showIsLocal">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="isLocal" formControlName="isLocal">
              <label class="form-check-label" for="isLocal">
                Is Local?
              </label>
            </div>
          </div>

          <div class="mb-3" *ngIf="showAdPaymentTime">
            <label for="adPaymentTime" class="form-label">Ad Payment Time</label>
            <input type="text" class="form-control" id="adPaymentTime" formControlName="adPaymentTime">
          </div>

          <div class="mb-3" *ngIf="showAlcoholVolume">
            <label for="alcoholVolume" class="form-label">Alcohol Volume</label>
            <input type="text" class="form-control" id="alcoholVolume" formControlName="alcoholVolume">
          </div>

          <div class="mb-3" *ngIf="showClothingSize">
            <label for="clothingSize" class="form-label">Clothing Size</label>
            <input type="text" class="form-control" id="clothingSize" formControlName="clothingSize">
          </div>

          <div class="mb-3" *ngIf="showShoesSize">
            <label for="shoesSize" class="form-label">Shoes Size</label>
            <input type="text" class="form-control" id="shoesSize" formControlName="shoesSize">
          </div>

          <div class="mb-3" *ngIf="showForNewBorns">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="forNewBorns" formControlName="forNewBorns">
              <label class="form-check-label" for="forNewBorns">
                For New Borns
              </label>
            </div>
          </div>

          <div class="mb-3 d-flex" *ngIf="showGender">
            <div class="form-check  me-4">
              <input class="form-check-input" type="radio" name="gender" id="male" [value]="true" formControlName="gender">
              <label class="form-check-label" for="male">
                Male
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" id="female" [value]="false" formControlName="gender">
              <label class="form-check-label" for="female">
                Female
              </label>
            </div>
          </div>

          <div class="mb-3" *ngIf="showisFrozen">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="isFrozen" formControlName="isFrozen">
              <label class="form-check-label" for="isFrozen">
                Is Frozen?
              </label>
            </div>
          </div>

          <div class="mb-3" *ngIf="showisNaturalDrink">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="isNaturalDrink" formControlName="isNaturalDrink">
              <label class="form-check-label" for="isNaturalDrink">
                Is Natural Drink
              </label>
            </div>
          </div>

          <div class="mb-3" *ngIf="showRealEstate">
            <label for="constructionType" class="form-label">Construction Type</label>
            <select class="form-select" id="constructionType" aria-label="Default select example" formControlName="constructionType"
            #constructionTypeSelect (change)="selectConstructionType(constructionTypeSelect.value)">
              <option value="null">All</option>
              <option value="0">Stone</option>
              <option value="1">Panels</option>
              <option value="2">Monolith</option>
              <option value="3">Bricks</option>
              <option value="4">Cassette</option>
              <option value="5">Wooden</option>
            </select>
          </div>

          <div class="mb-3" *ngIf="showRealEstate">
            <div class="row g-2">
              <div class="col">
                <label for="paymentTime" class="form-label">Payment Time</label>
                <input type="text" class="form-control" id="paymentTime" formControlName="paymentTime">
              </div>
              <div class="col">
                <label for="rooms" class="form-label">Rooms</label>
                <input type="text" class="form-control" id="rooms" formControlName="rooms">
              </div>
            </div>
          </div>

          <div class="mb-3" *ngIf="showPaymentTime">
            <label for="paymentTime" class="form-label">Payment Time</label>
            <input type="text" class="form-control" id="paymentTime" formControlName="paymentTime">
          </div>

          <div class="mb-3" *ngIf="showAcquintanceAim">
              <label for="acquintanceAim" class="form-label">Acquintance Aim</label>
              <select class="form-select" id="acquintanceAim" aria-label="Default select example"
              #acquintanceAimSelect (change)="selectAcquintanceAim(acquintanceAimSelect.value)">
                <option value="null">All</option>
                <option value="0">Friendship</option>
                <option value="1">Marriage</option>
                <option value="2">Entertainment</option>
              </select>
          </div>


          <div class="mb-3" *ngIf="showWeight && showHeight">
            <div class="row g-2">
              <div class="col">
                  <input type="text" class="form-control" id="height" placeholder="Height" formControlName="height">
              </div>
              <div class="col">
                  <input type="text" class="form-control" id="weight" placeholder="Weight" formControlName="weight">
              </div>
            </div>
          </div>

          <div class="mb-3" *ngIf="showAgeFrom && showAgeTo">
            <div class="row g-2">
              <div class="col">
                  <input type="text" class="form-control" id="ageFrom" placeholder="Age From" formControlName="ageFrom">
              </div>
              <div class="col">
                  <input type="text" class="form-control" id="ageTo" placeholder="Age From" formControlName="ageTo">
              </div>
            </div>
          </div>

          <div class="mb-3" *ngIf="showRealEstate">
            <div class="row g-2">
              <div class="col">
                  <input type="text" class="form-control" id="spaceFrom" placeholder="Space From" formControlName="spaceFrom">
              </div>
              <div class="col">
                  <input type="text" class="form-control" id="spaceTo" placeholder="Space To" formControlName="spaceTo">
              </div>
            </div>
          </div>

          <div class="mb-3" *ngIf="showRealEstate">
            <div class="row g-2">
              <div class="col">
                  <input type="text" class="form-control" id="floorFrom" placeholder="Floor From" formControlName="floorFrom">
              </div>
              <div class="col">
                  <input type="text" class="form-control" id="floorTo" placeholder="Floor To" formControlName="floorTo">
              </div>
            </div>
          </div>

          <div class="mb-3" *ngIf="showTransportation">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="transportation" formControlName="transportation">
              <label class="form-check-label" for="transportation">
                Transportation
              </label>
            </div>
          </div>

          <div class="mb-3" *ngIf="showDepartureDay && showReturnDay && showReservedTickets">
            <div class="row g-2">
                <div class="col">
                  <label for="departureDay" class="form-label">Departure Day</label>
                  <input type="date" class="form-control" id="departureDay" formControlName="departureDay">
                </div>
                <div class="col">
                  <label for="returnDay" class="form-label">Return Day</label>
                  <input type="date" class="form-control" id="returnDay" formControlName="returnDay">
                </div>
                <div class="col">
                  <label for="reservedTickets" class="form-label">Reserved</label>
                  <input type="number" class="form-control" id="reservedTickets" formControlName="reservedTickets">
                </div>
            </div>
          </div>

        </div>
        <button class="btn btn-success" (click)="addFilters()">Show</button>
      </form>
    </div>
  </aside>
  <section>
    <!-- <div class="container mt-2">
      <div class="row" >
        <div class="col-md-3 col-sm-6 colForMarginBottom" *ngFor="let product of responseProduct" (click)="productInfo(product)">
          <div class="card card-block">
            <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
            <h5 class="card-title mt-3 mb-3">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="message" *ngIf="endOfContent && !empty">
      <h1>NO MORE... </h1>
    </div>
    <div class="load" *ngIf="loading">
      <div class="spinner-grow my-spinner" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="empty" *ngIf="empty">
      <h1>EMPTY...</h1>
    </div> -->
  </section>
  <!-- <aside></aside> -->
</div>
