<div class="wrapper">
  <div class="container" #container id="container">
    <div class="loading-field" *ngIf="showLoader">
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>
    <div class="form-container sign-up-container">
      <form [formGroup]="registerForm" (submit)="register()" *ngIf="!showConfirmSide">
        <h1>{{'loginRegister.createAccount' | translate}}</h1>
        <!-- <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registration</span> -->
        <input type="text" placeholder="Name" formControlName="firstName"/>
        <div *ngIf="registerForm.get('firstName').touched && !registerForm.get('firstName').valid" id="emailHelp" class="invalid_color form-text">Please enter your name</div>
        <input type="email" placeholder="Email" formControlName="email"/>
        <div *ngIf="registerForm.get('email').touched && !registerForm.get('email').valid" id="emailHelp" class="invalid_color form-text">Please enter a valid email address</div>
        <input type="password" placeholder="Password" formControlName="password"/>
        <div *ngIf="registerForm.get('password').touched && !registerForm.get('password').valid" id="emailHelp" class="invalid_color form-text">Your password must be at least 8 characters</div>
        <input type="tel" placeholder="Phone Number" formControlName="phoneNumber"/>
        <div *ngIf="registerForm.get('phoneNumber').touched && !registerForm.get('phoneNumber').valid" id="emailHelp" class="invalid_color form-text">Please enter your phone number</div>
        <!-- <input type="tel" placeholder="Phone Number" formControlName="phoneNumber"/> -->
          <!-- <label for="dropdownCountry" class="form-label">{{'navbar.country' | translate}}</label> -->
          <select class="form-select" id="dropdownCountry" aria-label="Default select example" formControlName="country">
            <!-- <option selected value="{{c.id}}" *ngFor="let c of countries" [selected]="c.id == 1">{{c.country}}</option> -->
            <option value="1" >Armenia</option>
            <option value="2" >Russia</option>
            <option value="3" >USA</option>
          </select>
        <div *ngIf="registerForm.get('country').touched && !registerForm.get('country').valid" id="emailHelp" class="invalid_color form-text">Please enter your country</div>
        <div class="jc">
          <div class="form-check myFormCheck">
            <input class="form-check-input" type="checkbox" value="true" #rulesCheckBox formControlName="rules" id="flexCheckChecked" (change)="toggleEditable($event)">
          </div>
          <h6 class="form-check-label" data-bs-toggle="modal" data-bs-target="#rules">
            {{'loginRegister.rules' | translate}}
          </h6>
        </div>
        <button [disabled]="this.registerForm.get('rules').value != true ||
                            !registerForm.get('firstName').valid ||
                            !registerForm.get('email').valid ||
                            !registerForm.get('password').valid ||
                            !registerForm.get('phoneNumber').valid ||
                            !registerForm.get('country').valid"
        >{{'loginRegister.signUp' | translate}}</button>
      </form>
      <div class="form">
        <input type="text" placeholder="Confirm Code" *ngIf="showConfirmSide" #confirmAcc/>
        <button *ngIf="showConfirmSide" (click)="confirmEmail()">{{'loginRegister.confirmCode' | translate}}</button>
      </div>
    </div>
    <div class="form-container sign-in-container">
      <form [formGroup]="loginForm" (submit)="login()" *ngIf="!showPasswordReset">
        <h1>{{'loginRegister.signIn' | translate}}</h1>
        <!-- <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your account</span> -->
        <input type="email" placeholder="Email" formControlName="userName"/>
        <input type="password" placeholder="Password" formControlName="password"/>
        <a style="cursor: pointer;" (click)="forgotPassword()">{{'loginRegister.fPassword' | translate}}</a>
        <button>{{'loginRegister.signIn' | translate}}</button>
        <a routerLink="" style="cursor: pointer; text-decoration: underline;">{{'loginRegister.goToSite' | translate}}</a>
      </form>
      <form [formGroup]="forgotPasswordGroup" (submit)="sendEmailForReset()" *ngIf="showPasswordReset && !showConfirmCodeForgote">
        <h1 class="mb-4">{{'loginRegister.fPassword' | translate}}</h1>
        <input type="email" placeholder="Email" class="mb-3" formControlName="email"/>
        <button>{{'loginRegister.sendEmail' | translate}}</button>
      </form>
      <form *ngIf="showConfirmCodeForgote && !allowPassowrdChange" [formGroup]="forgotPasswordGroup" (submit)="checkResetStatus()">
        <input type="number" placeholder="Confirm code" class="mb-3" formControlName="forgotConfirmCode"/>
        <button>{{'loginRegister.confirmCode' | translate}}</button>
      </form>
      <form *ngIf="allowPassowrdChange" [formGroup]="resetPassword" (submit)="changePassword()">
        <input type="password" placeholder="New Password" class="mb-3" formControlName="newPassword"/>
        <button>{{'loginRegister.confirmCode' | translate}}</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn" (click)="rightPanelDective()">{{'loginRegister.signUp' | translate}}</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>{{'loginRegister.helloFriend' | translate}}</h1>
          <p>{{'loginRegister.enterYorDetails' | translate}}</p>
          <button class="ghost" id="signUp" (click)="rightPanelActive()">{{'loginRegister.signUp' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Rules -->
<div class="modal fade" id="rules" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="rulesLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rulesLabel">{{'loginRegister.rules' | translate}}</h5>
      </div>
      <div class="modal-body">
        <span>
          Օգտագործման համաձայնագիր
          Դառնալով Malls.team-ի օգտատեր` Դուք ընդունում եք սույն օգտագործման համաձայնագրի պայմանները:
          Ձեր հայտարարությունը տեղադրելիս` Դուք կրում եք պարունակության ամբողջ պատասխանատվությունը: Կայքն իրավունք է վերապահում չհրապարակել կամ իր կողմից հեռացնել անպատշաճ բովանդակության հայտարարությունը:
          Կողմերի իրավունքներն ու պարտականութունները
          Malls.team կայքում տեղադրված ցանկացած տեղեկությունն ու նյութերը պաշտպանված են հեղինակային իրավունքների մասին սահմանված օրենքով և հանդիսանում են Malls.team-ի սեփականություն: Դուք չեք կարող պատճենել, տարածել, հրապարակել, վերցնել, պահպանել, փոխանցել կամ օգտագործել կայքի ոչ մի մասը, կամ այնտեղ տեղադրված տեղեկությունը:
          Օգտվելով Malls.team-ի ծառայություններից` Դուք հաստատում եք այն, որ կրում եք բացառիկ պատասխանատվություն Ձեր կողմից տեղադրված հայտարարության բովանդակության համար, ունեք բոլոր անհրաժեշտ իրավունքները տվյալ տեղեկությունը տեղադրելու համար` ներառյալ պատենտները, ապրանքանշանները, կոմերցիոն գաղտնիքներ, ինչպես նաև թույլատվություն բոլոր այն անձանց կողմից, որոնք նշվում են հայտարարության տեքստում:
          Եթե Malls.team -ում Դուք տեղադրում եք սխալ կոնտակտային տվյալներ կամ օգտվում եք կայքից ուրիշ անվան տակ,այդ դեպքում  կայքի ադմինիստրացիան իրավունք ունի Ձեր կոնտակտային տվյալները տրամադրել տուժված կողմին միայն օրենքով սահմանված կարգով:
          •	Չ՛ձեռնարկել որևէ գործողություն, որը կբերի կայքի ենթակառուցվածքի անհամաչափ բարձր ծանրաբեռնմանը;
          •	Չ՛կանխել և չփորձել կանխել կայքի աշխատանքն ու այտեղ ընթացող այլ գործունեությունը:
          •	Չկանխել ավտոմատ ծրագրերի և պրոցեսների աշխատանքը;
          •	Չ՛օգտագործել այլ օգտատերերի կողմից տրամադրված տվյալները որևէ այլ նպատակներով, բացի տվյալ օգտատիրոջ հետ գործարք կատարելու համար;
          •	Չ՛օգտագործել անուններ, որոնք նման են այլ օգտատերերի անուններին` իրենց տեղ ներկայանալով և իրենց անուններից հաղորդագրություններ գրելով:
          Malls.team-ը պարտավորվում է ջանքեր գործածել հետևյալ համաձայնագրով իր պարտավորությունները պատշաճ կերպով կատարելու համար` ներառյալ կայքի ծառայությունների նորմալ աշխատանքը և երրորդ անձանց անձնական տվյալներ չտրամադրելը, բացառությամբ օրենքով նախատեսված դեպքերից:
          Malls.team -ը կարող է ժամանակ առ ժամանակ ծառայությունների օգտագործման սահմանափակումներ սահմանել, օրինակ հայտարարության պիտանելիության ժամկետն ու չափը: Malls.team -ը իրավասու է ցանկացած պահին փոխել ծառայությունների աշխատանքը`առանց նախորոք զգուշացման` չկրելով որևէ պատասխանատվություն:
          Ծառայությունների բարձր որակը պահելու համար Malls.team -ը կարող է սահմանափակել օգտատիրոջ ակտիվ հայտարարությունների քանակը, նաև սահմանափակել Malls.team -ում օգտատիրոջ գործողությունները:
          Malls.team -ը կարող է արգելել օգտատիրոջ մուտքը կայք, եթե նա խախտում է տվյալ համաձայնագրի պայմանները: Malls.team կայքը իրավունք ունի ցանկացած պահին հեռացնել և անջատել էջը և հեռացնել բոլոր հայտարարությունները` թողնելով օգտատիրոջը նախնական ծանուցման որոշումը ինքն իրեն և պատասխանատվություն չկրելով իր գործողությունների համար ո’չ օգտատիրոջ և ո’չ էլ երրորդ անձանց դիմաց:
          Malls.team -ի ադմինիստրացիան իրավունք է վերապահում ցանկացած պահին օգտատիրոջ հետ տվյալների ճշտելը և պահանջել անձը հաստատող փաստաթուղթ: Վերոհիշյալները չտրամադրելը հավասարեցվում է ոչ պատշաճ տեղեկությունների տրամադրելուն: Այն դեպքում, երբ օգտատիրոջ կոցմից տրամադրված փաստաթղթերը չեն համապատասխանում գրանցվելիս տրամադրված տվյալների հետ, Malls.team -ը իրավունք ունի օգտատիրոջը մերժելու և նրան Malls.team -ի մուտքը փակելու առանց նախաղգուշացման:
          Օգտատերը իրավունք ունի կայքի աշխատանքի հետ կապված իր դժգոհությունները հղի հետադարձ կապի միջոցով: Բողոքները կդիտարկվեն դիմումը ստանալուց 5 աշխատանքային օրվա ընթացքում:
          Կայքով օգտվելու պայմանում Դուք համաձայն եք`
          Չ՛խախտել հայտարարությունների հրապարակման կանոնները
          Չ՛հրապարակել և չ՛փոխանցել որևէ ապօրինի, սպառնացող, վիրավորական, վարկաբեկող կամ ոչ պատշաճ տեղեկություններ կամ նյութեր, որոնք խախտում են մարդու իրավունքները, խթանում են քրեական վարք կամ հանրային անկարգություններ:
          Չ՛հրապարակել և և չ՛փոխանցել նյութեր, որոնք պարունակում են այլ անձի իրավունքները խախտող տարրեր, խախտում են հեղինակային իրավունքը, ապրանքանշանի իրավունքը կամ այլ սեփականության իրավունքը: Արգելվում է նաև առանց օրինական տիրոջ նախնական համաձայնության որևէ նյութեր վերցնելը:
          Չ՛հրապարակել առաջարկներ, որոնք պարունակում են անօրինական տեղեկություններ գործունեության, ծառայության կամ ապրանքի մասին: Դրա մեջ են մտնում նաև ֆինանսական բուրգերի սխեմաները, թմրանյութերը, վտանգավոր քիմիկատները, զենքը,  գողացված ապրանքը և նմանատիպ այլ ապրանքներ և ծառայություններ:
          Չ՛վերբեռնել այլ օգտատիրոջ կողմից արդեն տեղադրված ֆայլ` տեղյակ լինելով կամ ենթադրելով, որ այդ կերպով տվյալ ֆայլի տարածումը հանդիսանում է օրինական:
          Պատասխանատվության սահմանափակում
          Օգտվելով Malls.team -ի ծառայություններից` օգտատերը հաստատում է իր համաձայնությունը առ այն, որ նա օգտվում է կայքից և դրա ծառայություններից ըստ իր կամքի և պատասխանատվության, գրանցվում է ու վերցնում իր վրա բոլոր ռիսկերը, որոնք կախված են տեղադրված հայտարարությունների օգտագործման համար: Իսկ կայքը, այդ թվում կայքի ադմինիստրացիան, ղեկավարությունը և աշխատակիցները ոչ մի պատասխանատվություն չե՛ն կրում կայքում տեղադրված հայտարարությունների բովանդակության համար, ցանկացած կորուստի և վնասի համար, որոնք առաջացան կայքում տեղադրված հայտարարությունները օգտագործելու հետևանքով:
          Malls.team -ը չի հանդիսանում կողմերի միջև գործարքների կազմակերպիչ կամ գործարքի մի կողմ:
          Կայքը հանդիսանում է վաճառքային կոմունիկացիոն պլատֆորմ, որը հնարավորություն է ընձեռում օգտատերերին վաճառել և գնել օրենքով թույլատրելի ապրանքներ և ծառայություններ ցանկացած ժամին, որտեղից որ հարմար եք գտում և Ձեզ հարմար արժեքով:
          Malls.team -ը չի՛ կարող վերահսկել օգտատերերի կողմից տեղադրվող հայտարարությունների ճշգրտությունը և պատասխանատվություն չի՛ կրում գործարքների հետևանքով կորուստների համար:
          Malls.team -ը պատասխանատվություն չի՛ կրում օգտատերերի վարքի կամ իրենց կողմից առաջարկված ապրանք/ծառայությունների համար: Բոլոր վեճերը պե՛տք է լուծվեն օգտատերերի միջև, առանց կայքի ներգրավման:
          Որակը, անվտանգությունը, օրինականությունն ու ապրանքի կամ ծառայության համապատասխանությունը նկարագրությանը, ինչպես նաև օգտատիրոջ` որևէ ապրանքի/ ծառայության գնելու կամ վաճառելու հնարավորությունը, գտնվում են կայքի վերահսկողությունից դուրս:
          Օգտատերը չպե՛տք է ենթադրի, որ որևէ առաջարկ կամ որևէ առք ու վաճառքի գործարքն ինքնին փաստացի և օրինական է միայն ելնելով այն փաստից, որ այն տեղադրված է կայքում: Կայքը պատասխանատվություն չի կրում գործարքի ավարտի համար, և օգտատերը լիովին վերցնում է այդ պատասխանատվությունը իր վրա:
          Այս կայքում տրամադրված տեղեկությունը կարող է օգտագործվել միայն տեղեկատվական նպատակով: Malls.team -ը պատասխանատվություն չի՛ կրում տրամադրված տեղեկության ճշգրտության համար:
          Ոչ մի պարագայում մենք չե՛նք ստանձնում պատասխանատվություն անօրինական, սպառնացող, վիրավորական, վարկաբերող կամ ոչ պատշաճ տեղեկություններ կամ նյութեր, որոնք խախտում են մարդու իրավունքները, խթանում են քրեական վարք և հանրային անկարգությունները:
          Ոչ մի պարագայում մենք չե՛նք ստանձնում պատասխանատվություն հասցված նյութական վնասի համար, ինչպես նաև կայքի անսարքության պատճառով տվյալների կորուստի համար: Կայքում տեղադրված տեղեկությունը թարմացման ենթակա է: Կայքը կարող է պարունակել տեխնիկական անճշտություններ և տառասխալներ: Մենք պատասխանատու չենք պահպանված տեղեկությունների համար:
          Malls.team -պարունակում է հղումներ, որոնց աջակցում են երրորդ կողմերը: Նմանատիպ կայքերը չեն երթադրում վերահսկողությունը, և մենք պատասխանատվություն չենք որևէ ներկայացված կայքի կամ հղումի պարունակության համար` ճշգրտությունը, օրինական ու պատշաճ լինելը ներառյալ: Հղումները տեղադրվում են Malls.team կայքում օգտատերերի հարմարավետության համար, և դա չի ենթադրում այն, որ դրանք պարունակությունը հաստատված է Malls.team -ի կողմից: Մենք պատասխանատու չենք Malls.team -ում տեղադրված որևէ կայքի հղումի հեղինակային իրավունքների համար:
          Malls.team -ը չի՛ երաշխավորում անսարքությունների կամ սխալների բացակայությունը կայքի աշխատանքի ընթացքում, ինչպես նաև այն, որ բոլոր անսարքությունները կհեռացվեն: Նաև տեղեկացնում ենք, որ մենք չե՛նք կարող երաշխավորել վիրուսների կամ այլ դեստրուկտիվ տարրերի բացակայությունը, որոնք ներբեռնվում են կայքից և առաքվում էլ. փոստի միջոցով: Դուք լիովին պատասխանատու եք Ձեր կողմից վերբեռնվող տվյալների անսխալ լինելու համար:
          Համաձայնագրի ժամկետը
          Տվյալ օգտագործման համաձայնագիրը ուժի մեջ է մտնում օգտատիրոջ` Malls.team -ում որևէ ծառայությունից օգտվելու կամ կայքում գրանցվելու պահից և տևում է անժամկետ:
          Օգտատերը իրավունք ունի միակողմանի դադարեցնել կայքում գրանցումը` առանց Malls.team -ի ադմինիստրացիային նախազգուշացման և պատճառաբանման:
          Եթե օգտատերը համաձայն չէ կայքում հայտարարությունների հրապարակման կանոնների կամ տվյալ օգտագործման համաձայնագրի հետ, նա պարտավո՛ր է դադարեցնել Malls.team -ի կողմից առաջարկվող ծառայություններից օգտվելը: Malls.team կայքի օգտագործման չդադարեցնելու փաստը հանդիսանում է օգտատիրոջ կողմից համաձայնության փաստ:
          </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-bs-dismiss="modal">Համաձայն չեմ</button>
        <button type="button" class="btn" (click)="clickCheckbox()" data-bs-dismiss="modal">Համաձայն եմ</button>
      </div>
    </div>
  </div>
</div>
