<div class="wrapper">
  <app-navbar></app-navbar>
  <div class="loading-field" *ngIf="showLoader">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  </div>
  <div class="my-alert" *ngIf="itemAdded">
    <img src="../../../../assets/images/checked.png" alt="">
  </div>
  <div class="my-alert" *ngIf="errorMessege">
    <img src="../../../../assets/images/x.png" alt="">
    <h4 class="err-text">Համակարգի խափանում, խնդրում ենք փորձել կրկին</h4>
  </div>

  <form [formGroup]="adCreateForm" (submit)="createAd()">
    <div class=" location mb-3">
      <div class="card">
        <h5 class="card-header">{{'createAd.location' | translate}}</h5>
        <div class="card-body added-block">
          <div class="btn-group">
            <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {{'createAd.armenia' | translate}}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li *ngFor="let country of countries">
                <a class="dropdown-item disabled"  attr.aria-disabled="true">{{country.country}}</a>
              </li>
            </ul>
          </div>

          <div class="region">
            <div class="btn-group">
              <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{regionText}}
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li *ngFor="let region of regions"><a class="dropdown-item" style="cursor: pointer;" (click)="getRegion(region)">{{region.country}}</a></li>
              </ul>
            </div>
          </div>

          <div class="city">
            <div class="btn-group">
              <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{cityText}}
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li *ngFor="let city of cities"><a class="dropdown-item" style="cursor: pointer;" (click)="getCity(city)">{{city.country}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        </div>
      </div>

    <div class="owner mb-3">
        <div class="card">
          <h5 class="card-header">{{'createAd.owner' | translate}}</h5>
          <div class="card-body added-block">
            <div class="btn-group">
              <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{ownerText}}
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getOwner(0)">{{'createAd.ownerArr.individual' | translate}}</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getOwner(1)">{{'createAd.ownerArr.agency' | translate}}</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getOwner(2)">{{'createAd.ownerArr.diller' | translate}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    <!-- <div class="currencyAndPrice mb-3">
        <div class="card">
          <h5 class="card-header">{{'createAd.currencyAndPrice' | translate}}</h5>
          <div class="card-body added-block">
            <div class="btn-group">
              <button type="button" class="btn btn_size btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{currency}}
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getCurrency(0)">AMD</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getCurrency(1)">RUR</a></li>
                <li><a class="dropdown-item" style="cursor: pointer;" (click)="getCurrency(2)">USD</a></li>
              </ul>
            </div>
            <div class="price">
              <input type="number" class="form-control" id="price" placeholder="{{'createAd.price' | translate}}" formControlName="price">
            </div>
          </div>
        </div>
    </div> -->

    <div class="name mb-3 added-block">
      <div class="card">
        <h5 class="card-header">{{'createAd.name' | translate}}</h5>
        <div class="card-body added-block">
          <div class="name">
            <input type="text" class="form-control" id="name" placeholder="{{'createAd.name' | translate}}" formControlName="name">
          </div>
          <div class="tags">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">#</span>
              <input type="text" class="form-control" placeholder="#tag1 #tag2 #tag3" aria-label="tags" aria-describedby="basic-addon1" formControlName="tags">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="descriptionAndTags added-block mb-3">
      <div class="card">
        <h5 class="card-header">{{'createAd.description' | translate}}</h5>
        <div class="card-body added-block">
          <div class="description">
            <textarea class="form-control" name="description" id="description" placeholder="{{'createAd.description' | translate}}" formControlName="description"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="phone mb-3">
      <div class="card">
        <h5 class="card-header">{{'createAd.phone' | translate}}</h5>
        <div class="card-body added-block">
          <div class="input-group phone">
            <span class="input-group-text" id="basic-addon1">+374</span>
            <input type="text" class="form-control" placeholder="Phone" aria-label="phone" aria-describedby="basic-addon1" formControlName="contact">
          </div>
        </div>
      </div>
    </div>

    <div class="maps mb-3">
      <div class="card">
        <h5 class="card-header">{{'createAd.map' | translate}}</h5>
        <div class="card-body added-block">
          <a class="btn btn-secondary" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#mapModal">{{'createAd.map' | translate}}</a>
        </div>
      </div>
    </div>

    <div class="image mb-3">
      <div class="card">
        <h5 class="card-header">{{'createAd.image' | translate}}</h5>
        <div class="card-body added-block">
          <div class="image-input">
            <input class="form-control" type="file" id="image" multiple (change)="onUploadProfilePicture($event)" accept="image/png, image/jpeg">
          </div>
          <div class="img" *ngIf="showPreview">
            <div class="img-preview" *ngFor="let img of imagePreview">
              <img src="{{img}}" alt="Uploaded Image">
              <div class="delete">
                <button #fileUpload class="btn-close btn-close-white" (click)="deletePreview(img)"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="isRegional mb-3">
      <div class="card">
        <h5 class="card-header">{{'createAd.isRegional' | translate}}</h5>
        <div class="card-body added-block">
          <input class="form-check-input" type="checkbox" value="1" id="isRegional" formControlName="isRegional">
            <label class="form-check-label" for="isRegional">
              {{'createAd.isRegional' | translate}}
          </label>
        </div>
      </div>
    </div>

    <!-- <div class="clothesAndShoes sourceCurrencyIDandDestinationCurrencyID mb-3">
      <div class="card">
        <h5 class="card-header">sourceCurrencyID and destinationCurrencyID</h5>
        <div class="card-body added-block">
          <div class="clothingSize">
            <input type="number" class="form-control" placeholder="sourceCurrencyID" formControlName="sourceCurrencyID">
          </div>
          <div class="shoesSize">
            <input type="number" class="form-control" placeholder="destinationCurrencyID" formControlName="destinationCurrencyID">
          </div>
        </div>
      </div>
    </div> -->

    <div class="row g-2 mb-3" style="width: 50%;">
      <div class="col">
        <label for="engineSize" class="form-label">{{'createAd.currency' |translate}}</label>
        <select class="form-select" aria-label="Default select example" id="engineSize" formControlName="sourceCurrencyID">
          <option value="3" >AMD</option>
        </select>
      </div>
      <div class="col">
        <label for="engineType" class="form-label">{{'exchange.exchangeRate' |translate}}</label>
        <select class="form-select" aria-label="Default select example" id="engineType" formControlName="destinationCurrencyID">
          <option [value]="currency.id" *ngFor="let currency of currencyList">{{currency.currency}}</option>
        </select>
      </div>
    </div>

    <div class="clothesAndShoes saleSummaRetailAndbuySummaRetail mb-3">
      <div class="card">
        <h5 class="card-header">{{'exchange.saleSummaRetail' |translate}}, {{'exchange.buySummaRetail' |translate}}</h5>
        <div class="card-body added-block">
          <div class="clothingSize">
            <input type="number" class="form-control" placeholder="{{'exchange.saleSummaRetail' |translate}}" formControlName="saleSummaRetail">
          </div>
          <div class="shoesSize">
            <input type="number" class="form-control" placeholder="{{'exchange.buySummaRetail' |translate}}" formControlName="buySummaRetail">
          </div>
        </div>
      </div>
    </div>

    <div class="clothesAndShoes saleSummaAndbuySumma mb-3">
      <div class="card">
        <h5 class="card-header">{{'exchange.saleSumma' |translate}}, {{'exchange.buySumma' |translate}}</h5>
        <div class="card-body added-block">
          <div class="clothingSize">
            <input type="number" class="form-control" placeholder="{{'exchange.saleSumma' |translate}}" formControlName="saleSumma">
          </div>
          <div class="shoesSize">
            <input type="number" class="form-control" placeholder="{{'exchange.buySumma' |translate}}" formControlName="buySumma">
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-success mb-5">{{'createAd.add' | translate}}</button>
    </form>



</div>
<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mapModalLabel">{{'createAd.map' | translate}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <agm-map [latitude]="lat" [zoom]="15" [longitude]="lng" (mapClick)="chooseLocation($event)">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
