.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}
.side-one {
  flex: 1;
}
.side-two {
  flex: 1;
}
#itemImagesCarousel {
  width: 70%;
}
.side-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side-two > div:not(:last-child) {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  border-bottom: 1px dashed silver;
}
.side-two .value {
  width: 65%;
  display: flex;
  justify-content: start;
}
.map {
  margin-top: 5px;
}
.zIndex {
  z-index: 1;
}
.update{
  margin-left: 10px;
}
.map{
  justify-content: start !important;
}

.description{
  display: flex;
  flex-direction: column !important;
  line-break: anywhere;
}
.text-area{
  margin-top: 4% !important;
  overflow-y: scroll;
  max-height: 200px;
  width: 100% !important;

}
.text-area::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.text-area {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
h5:not(.value h5){
  color: #A9A5A5;
  font-size: 1.1rem;
}

/* .wrapper {
  position: relative;
  z-index: -1;
} */
 form {
  /* width: 50%; */
  margin: auto;
  margin-bottom: 15%;
}
.currencySpan {
  padding: 0;
  border: none;
}
.form-select:focus {
  border-color: silver;
  box-shadow: none;
}
.form-control {
  max-height: 100px;
}
#category,
#subCategory {
  height: 65px;
}
.my-alert {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  animation: alert 1s ease-in-out forwards;
}
@keyframes alert {
  form {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}





/* Loader */
.loading-field{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(115, 115, 121, 0.281);
  backdrop-filter: blur(2px);
  z-index: 2000;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* EndLoader */



img{
  object-fit: contain;
}

.deleted{
  color: red;
  text-decoration: line-through;
  margin-right: 20px;
}

.middle{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* MAP */
agm-map{
  height: 400px;
}

.current_images{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

}
.current_images .photos{
  width: 40%;
  position: relative;
}

.current_images .photos img{
  width: 100%;
}

.x{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
