<app-navbar></app-navbar>
<div class="loading-field" *ngIf="showLoader">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div class="wrapper" *ngIf="this.responseItem">
  <div class="side-one">
    <div class="carouselSettings row">
      <div id="itemImagesCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button class="zIndex active" type="button" data-bs-target="#itemImagesCarousel" [attr.data-bs-slide-to]="i"
            aria-current="true" [attr.aria-label]="i+1"
            *ngFor="let p of responseItem.imagesList; let i = index "></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item" data-bs-interval="5000"
            *ngFor="let photo of responseItem.imagesList; first as isFirst" [class.active]="isFirst">
            <img [src]="photo == '' ? '../../../../../assets/images/noimage.png' : photo " class="d-block w-100"
              alt="..." style="height: 400px;">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#itemImagesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#itemImagesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="update_photo">
      <span style="cursor: pointer;display: flex; user-select: none;" data-bs-toggle="modal"
        data-bs-target="#uploadPhoto"
        (click)="resItem=this.responseItem; copyImages(this.responseItem.imagesList)">Update Photo</span>
    </div>
  </div>
  <div class="side-two">
    <div class="name">
      <h5>{{'createAd.name' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.name}}</h5>
      </div>
    </div>
    <div class="price" *ngIf="!showAllForExchange">
      <h5>{{'createAd.price' | translate}}</h5>
      <div class="value">
        <!-- <h5>{{this.responseItem.price}} {{this.currencySymbol}}</h5> -->
        <!-- <h5>{{this.responseItem.salePrice}} {{this.responseItem.currency == 0 ? "AMD" : this.responseItem.currency == 1 ? "RUB" : "USD"}}</h5> -->
        <div *ngIf="this.responseItem.salePrice == this.responseItem.price; else showSalePrice" class="value">
          <h5 class="value">{{this.responseItem.salePrice}}</h5>
        </div>
      </div>
      <ng-template #showSalePrice>
        <h5 class="value">
          <h5 class="deleted">
            {{this.responseItem.price}} {{this.responseItem.currency == 0 ? "AMD" : this.responseItem.currency == 1 ?
            "RUB" : "USD"}}
          </h5>
          {{this.responseItem.salePrice}} {{this.responseItem.currency == 0 ? "AMD" : this.responseItem.currency == 1 ?
          "RUB" : "USD"}}
        </h5>
      </ng-template>
    </div>
    <div class="country">
      <h5>{{'createAd.location' | translate}}</h5>
      <div class="value">
        <h5>{{responseItem.countryName}}, {{responseItem.regionName}}, {{responseItem.cityName}}</h5>
      </div>
    </div>

    <!--Not GetSale, GetEverythingElse -->
    <!-- For GetCulture, GetHealfCare, GetFurniture, GetForHomeAndGarden, GetHouseholdGood, GetConstruction, GetElectronic
         GetAcquaintance, GetAppliances, GetCigaretteAndAlcohol, GetClothesAndShoes, GetForChildren, GetJewerlyAndAccessories
         GetProductsAndDrinks, GetRealEstate, GetTourismAndRest -->
    <div class="aim" *ngIf="showAim">
      <h5>{{'createAd.aim' | translate}}</h5>
      <div class="value">
        <h5>{{aimText}}</h5>
      </div>
    </div>
    <!-- END -->

    <!-- <div class="comment">
      <h5>Comments</h5>
      <div class="value">
        <h5>{{this.responseItem.comment}}</h5>
      </div>
    </div> -->
    <div class="number">
      <h5>{{'createAd.phone' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.contact}}</h5>
      </div>
    </div>

    <!-- Work, GetRealEstate, GetServices -->
    <!-- <div class="paymentTime" *ngIf="showWork">
      <h5>Payment Time</h5>
      <div class="value">
        <h5>{{this.responseItem.paymentTime}}</h5>
      </div>
    </div> -->

    <!--GetPetsAndPlants, GetCulture, GetHealfCare, GetFurniture, GetForHomeAndGarden, GetHouseholdGood, GetConstruction, GetElectronic
         GetAppliances, GetCigaretteAndAlcohol, GetClothesAndShoes, GetForChildren, GetJewerlyAndAccessories-->
    <div class="productState" *ngIf="productState">
      <h5>{{'createAd.productState' | translate}}</h5>
      <div class="value">
        <h5>{{productStateText}}</h5>
      </div>
    </div>
    <!-- END -->


    <!-- For GetAcquaintance, GetForChildren(GENDER ONLY), GetJewerlyAndAccessories(GENDER ONLY) -->
    <div class="gender" *ngIf="showGender">
      <h5>{{'createAd.gender' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.gender == true}}</h5>
      </div>
    </div>
    <div class="weight" *ngIf="showWeightHeight">
      <h5>{{'createAd.weight' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.weight}}</h5>
      </div>
    </div>
    <div class="height" *ngIf="showWeightHeight">
      <h5>{{'createAd.height' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.height}}</h5>
      </div>
    </div>

    <!-- For GetCigaretteAndAlcohol GetProductsAndDrinks(ONLY ISLOCAL)-->
    <div class="isLocal" *ngIf="showIsLocal">
      <h5>{{'createAd.isLocal' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.isLocal}}</h5>
      </div>
    </div>
    <div class="alcoholVolume" *ngIf="showAlcoholVolume">
      <h5>{{'createAd.alcoholVolume' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.alcoholVolume}}</h5>
      </div>
    </div>

    <!-- For GetClothesAndShoes -->
    <div class="clothingSize" *ngIf="showClothingSizeAndShoesSize">
      <h5>{{'createAd.clothingSize' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.clothingSize}}</h5>
      </div>
    </div>
    <div class="shoesSize" *ngIf="showClothingSizeAndShoesSize">
      <h5>{{'createAd.shoesSize' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.shoesSize}}</h5>
      </div>
    </div>

    <!-- GetForChildren -->
    <div class="forNewBorns" *ngIf="showForNewBorns">
      <h5>{{'createAd.forNewBorns' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.forNewBorns}}</h5>
      </div>
    </div>

    <!-- GetProductsAndDrinks -->
    <div class="isFrozen" *ngIf="showIsFrozenAndIsNaturalDrink">
      <h5>{{'createAd.isFrozen' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.isFrozen}}</h5>
      </div>
    </div>
    <div class="isNaturalDrink" *ngIf="showIsFrozenAndIsNaturalDrink">
      <h5>i{{'createAd.isNaturalDrink' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.isNaturalDrink}}</h5>
      </div>
    </div>


    <!-- GetRealEstate -->
    <div class="space" *ngIf="showAllForRealEstate">
      <h5>{{'createAd.space' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.space}}</h5>
      </div>
    </div>
    <div class="constructionType" *ngIf="showAllForRealEstate">
      <h5>{{'createAd.constructionType' | translate}}</h5>
      <div class="value">
        <h5>{{constructionTypeText}}</h5>
      </div>
    </div>
    <div class="rooms" *ngIf="showAllForRealEstate">
      <h5>{{'createAd.rooms' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.rooms}}</h5>
      </div>
    </div>
    <div class="floor" *ngIf="showAllForRealEstate">
      <h5>{{'createAd.floor' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.floor}}</h5>
      </div>
    </div>

    <!-- For GetServices -->
    <div class="transportation" *ngIf="showTransportation">
      <h5>{{'createAd.transportation' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.transportation}}</h5>
      </div>
    </div>

    <!-- For GetTourismAndRest -->
    <div class="departureDay" *ngIf="showAllForTourismAndRest">
      <h5>{{'createAd.departureDay' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.departureDay | date}}</h5>
      </div>
    </div>
    <div class="returnDay" *ngIf="showAllForTourismAndRest">
      <h5>{{'createAd.returnDay' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.returnDay | date}}</h5>
      </div>
    </div>
    <div class="reservedTickets" *ngIf="showAllForTourismAndRest">
      <h5>{{'createAd.reversed' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.reservedTickets}}</h5>
      </div>
    </div>



    <div class="transportation" *ngIf="showVehicleResponse">
      <h5>{{'createAd.vehicleMark' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.sMark}}</h5>
      </div>
    </div>

    <div class="transportation" *ngIf="showVehicleResponse">
      <h5>{{'createAd.vehicleModel' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.sModel}}</h5>
      </div>
    </div>

    <div class="transportation" *ngIf="showVehicleResponse">
      <h5>{{'createAd.engineSize' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.engineSize}}</h5>
      </div>
    </div>
    <div class="transportation" *ngIf="showVehicleResponse">
      <h5>{{'createAd.engineType' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.sEngineType}}</h5>
      </div>
    </div>
    <div class="transportation" *ngIf="showVehicleResponse">
      <h5>{{'createAd.bodyType' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.sBodyType}}</h5>
      </div>
    </div>
    <div class="transportation" *ngIf="showVehicleResponse">
      <h5>{{'createAd.driveType' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.sDriveType}}</h5>
      </div>
    </div>
    <div class="transportation" *ngIf="showVehicleResponse">
      <h5>{{'createAd.year' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.productionYear | date: 'yyyy'}}</h5>
      </div>
    </div>
    <div class="transportation" *ngIf="showVehicleResponse">
      <h5>{{'createAd.transmission' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.sTransmissionType}}</h5>
      </div>
    </div>
    <div class="transportation" *ngIf="showVehicleResponse">
      <h5>{{'createAd.color' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.sColor}}</h5>
      </div>
    </div>
    <div class="transportation" *ngIf="showVehicleResponse">
      <h5>{{'createAd.mileage' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.mileage}}</h5>
      </div>
    </div>
    <div class="transportation" *ngIf="showVehicleResponse">
      <h5>{{'createAd.wheel' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.sWheel}}</h5>
      </div>
    </div>


    <!-- GetExchange -->
    <div class="sourceCurrencyID" *ngIf="showAllForExchange">
      <h5>Արժույթ</h5>
      <div class="value">
        <h5>{{sourceCurrencyID}}</h5>
      </div>
    </div>
    <div class="destinationCurrencyID" *ngIf="showAllForExchange">
      <h5>Փոխարժեք</h5>
      <div class="value">
        <h5>{{destinationCurrencyID}}</h5>
      </div>
    </div>
    <div class="saleSummaRetail" *ngIf="showAllForExchange">
      <h5>Մեծածախ վաճառք</h5>
      <div class="value">
        <h5>{{this.responseItem.saleSummaRetail}}</h5>
      </div>
    </div>
    <div class="buySummaRetail" *ngIf="showAllForExchange">
      <h5>Մեծածախ գնում</h5>
      <div class="value">
        <h5>{{this.responseItem.buySummaRetail}}</h5>
      </div>
    </div>
    <div class="buySummaRetail" *ngIf="showAllForExchange">
      <h5>Վաճառք</h5>
      <div class="value">
        <h5>{{this.responseItem.saleSumma}}</h5>
      </div>
    </div>
    <div class="buySummaRetail" *ngIf="showAllForExchange">
      <h5>Առք</h5>
      <div class="value">
        <h5>{{this.responseItem.buySumma}}</h5>
      </div>
    </div>
    <div class="views">
      <h5>{{'createAd.views' | translate}}</h5>
      <div class="value">
        <h5>{{this.responseItem.view}}</h5>
      </div>
    </div>

    <!-- DESCRIPTION -->
    <div class="description">
      <h5>{{'createAd.description' | translate}}</h5>
      <div class="value text-area">
        <h5>{{this.responseItem.description}}</h5>
      </div>
    </div>



    <!--  -->
    <div class="map">
      <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#mapModal">{{'createAd.showMap' |
        translate}}</button>
      <button class="btn btn-warning update" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="obenUpdateModal()">{{'updateAd.update' | translate}}</button>
      <button class="btn btn-danger update" data-bs-toggle="modal" data-bs-target="#deleteModal">{{'createAd.deleteAd' |
        translate}}</button>
      <button class="btn btn-info update" data-bs-toggle="modal" data-bs-target="#govazd"
        style="white-space: nowrap;">{{'createAd.addAd' | translate}}</button>
    </div>


    <!-- UPDATE -->
    <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content ">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">{{'updateAd.update' | translate}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="addForm" (submit)="addData(addForm)">
              <div class="mb-3">
                <label for="name" class="form-label">{{'createAd.name' | translate}}</label>
                <input class="form-control" type="text" id="name" aria-label="name" formControlName="name">
              </div>

              <div class="mb-3" *ngIf="!showAllForExchange">
                <div class="row g-2">
                  <div class="col-5">
                    <label for="salePercent" class="form-label">{{'createAd.salePrecent' | translate}} %</label>
                    <input class="form-control" type="text" id="salePercent" aria-label="salePercent"
                      formControlName="salePercent" [(ngModel)]="priceValue" (ngModelChange)="changeValue()">
                  </div>
                  <div class="col-3 middle">
                    <label for="salePercenth5" class="form-label">Sale Precent %</label>
                    <h5 id="salePercenth5">{{priceValue}}</h5>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <div class="row g-2">
                  <div class="col-md">
                    <label for="owner" class="form-label">{{'createAd.owner' | translate}}</label>
                    <select class="form-select" aria-label="Default select example" id="owner" formControlName="owner">
                      <option value="0">{{'createAd.ownerArr.individual' | translate}}</option>
                      <option value="1">{{'createAd.ownerArr.agency' | translate}}</option>
                      <option value="2">{{'createAd.ownerArr.diller' | translate}}</option>
                    </select>
                  </div>
                  <div class="col-md" *ngIf="!showAllForExchange">
                    <label for="priceAndCurrency" class="form-label">{{'createAd.currencyAndPrice' | translate}}</label>
                    <div class="input-group flex-nowrap" id="priceAndCurrency">
                      <span class="input-group-text currencySpan" id="addon-wrapping">
                        <select class="form-select" aria-label="Default select example" formControlName="currency">
                          <!-- <option value="{{c.id}}" *ngFor="let c of curencyList" [selected]="c.id == 1 ? true : false">{{c.currency}}</option> -->
                          <option value="0" [selected]="this.responseItem.currency == 0">AMD</option>
                          <option value="1" [selected]="this.responseItem.currency == 1">RUB</option>
                          <option value="2" [selected]="this.responseItem.currency == 2">USD</option>
                        </select>
                      </span>
                      <input type="text" class="form-control" id="currencyPrice"
                        placeholder="{{'createAd.price' | translate}}" aria-label="Price"
                        aria-describedby="addon-wrapping" formControlName="price">
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="mb-3">
                <div class="row g-2">
                  <div class="col-md">
                    <label for="country" class="form-label">Country</label>
                    <select class="form-select" id="country" aria-label="country" formControlName="country">
                      <option value="{{c.id}}" *ngFor="let c of countryList" [disabled]="c.id != 1" [selected]="c.id == this.addForm.get('country').value">{{c.country}}</option>
                    </select>
                  </div>
                  <div class="col-md">
                    <label for="region" class="form-label">Region</label>
                    <select class="form-select" id="region" aria-label="region" #region (change)="selectedRegion(region.value)" formControlName="region">
                      <option value="{{r.id}}" *ngFor="let r of regionList">{{r.country}}</option>
                    </select>
                  </div>
                  <div class="col-md">
                    <label for="city" class="form-label">City</label>
                    <select class="form-select" id="city" aria-label="city" #city (change)="selectedCity(city.value)" formControlName="city">
                      <option value="{{city.id}}" *ngFor="let city of cityList">{{city.country}}</option>
                    </select>
                  </div>
                </div>
              </div> -->
              <div class="mb-3">
                <label for="description" class="form-label">{{'createAd.description' | translate}}</label>
                <input class="form-control" type="text" id="description" aria-label="Description"
                  formControlName="description">
              </div>
              <div class="mb-3">
                <label for="tags" class="form-label">Tags</label>
                <input type="text" class="form-control" id="tags" formControlName="tags">
                <!-- <div class="form-floating">
                  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"
                  formControlName="comment"></textarea>
                  <label for="floatingTextarea2">Comments</label>
                </div> -->
              </div>
              <div class="mb-3">
                <label for="contact" class="form-label">{{'createAd.phone' | translate}}</label>
                <input class="form-control"
                  [class.is-invalid]="addForm.get('contact').invalid && addForm.get('contact').touched" type="text"
                  id="contact" aria-label="Phone number" formControlName="contact">
              </div>
              <div class="mb-3" *ngIf="!work && !services && !everythingElse">

                <!-- <div class="row g-2">
                  <div class="col-md">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="aim" id="pntrumem"
                      formControlName="aim" value="4" [checked]="responseItem.aim == 4">
                      <label class="form-check-label" for="pntrumem">
                        Pntrum em
                      </label>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="aim" id="vajarumem"
                      formControlName="aim" value="0" [checked]="responseItem.aim == 0">
                      <label class="form-check-label" for="vajarumem">
                        Vajarum em
                      </label>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="aim" id="vardzakalutyun"
                      formControlName="aim" value="1" [checked]="responseItem.aim == 1">
                      <label class="form-check-label" for="vardzakalutyun">
                        Vardzakalutyun
                      </label>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="aim" id="poxanakum"
                      formControlName="aim" value="2" [checked]="responseItem.aim == 2">
                      <label class="form-check-label" for="poxanakum">
                        Poxanakum em
                      </label>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="aim" id="arq"
                      formControlName="aim" value="3" [checked]="responseItem.aim == 3">
                      <label class="form-check-label" for="arq">
                        Arq
                      </label>
                    </div>
                  </div>
                </div> -->


                <!-- <div class="mb-3" style="display: none;">
                    <div class="col-md">
                      <label for="aim" class="form-label">AIM</label>
                      <select class="form-select" id="aim" aria-label="aim" formControlName="aim">
                        <option value="0">Vajarum em</option>
                        <option value="1">Vardzakalutyun</option>
                        <option value="2">Poxanakum em</option>
                        <option value="3">Arq</option>
                        <option value="4">Pntrum em</option>
                      </select>
                  </div>
                </div> -->


              </div>
              <!-- upload photo -->
              <!-- <div class="mb-3">
                <div class="mb-3">
                  <label for="formFileMultiple" class="form-label">Upload Images</label>
                  <input class="form-control" type="file" id="formFileMultiple" multiple
                  formControlName="imagesList" (change)="onUploadProfilePicture($event)">
                </div>
              </div> -->
              <div class="realEstate" *ngIf="realEstate">
                <div class="mb-3">
                  <div class="row g-2">
                    <div class="col-md">
                      <input class="form-control" type="text" placeholder="{{'createAd.space' | translate}}"
                        aria-label="space" formControlName="space">
                    </div>
                    <!-- <div class="col-md">
                      <input class="form-control" type="text" placeholder="Payment Time" aria-label="paymentTime" formControlName="paymentTime">
                    </div> -->
                  </div>
                </div>
                <div class="mb-3">
                  <div class="row g-2">
                    <div class="col-md">
                      <div class="form-floating">
                        <select class="form-select" id="floor" aria-label="Floating label select example"
                          formControlName="floor">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                        </select>
                        <label for="floor">{{'createAd.floor' | translate}}</label>
                      </div>
                    </div>
                    <div class="col-md">
                      <div class="form-floating">
                        <select class="form-select" id="room" aria-label="Floating label select example"
                          formControlName="rooms">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
                        <label for="room">{{'createAd.rooms' | translate}}</label>
                      </div>
                    </div>
                    <div class="col-md">
                      <div class="form-floating">
                        <select class="form-select" id="constructionType" aria-label="Floating label select example"
                          formControlName="constructionType">
                          <option value="0">{{'createAd.stone' | translate}}</option>
                          <option value="1">{{'createAd.panels' | translate}}</option>
                          <option value="2">{{'createAd.monolith' | translate}}</option>
                          <option value="3">{{'createAd.bricks' | translate}}</option>
                          <option value="4">{{'createAd.cassete' | translate}}</option>
                          <option value="5">{{'createAd.wooden' | translate}}</option>
                        </select>
                        <label for="constructionType">{{'createAd.constructionType' | translate}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="appliance" *ngIf="appliance">
                <div class="mb-3">
                  <label for="productState" class="form-label">Product State</label>
                  <select class="form-select" aria-label="Default select example" id="productState"
                    formControlName="productState">
                    <option value="0">{{'createAd.new' | translate}}</option>
                    <option value="1">{{'createAd.used' | translate}}</option>
                  </select>
                </div>
              </div>
              <div class="clothesAndShoes" *ngIf="clothesAndShoes">
                <div class="mb-3">
                  <label for="productState" class="form-label">{{'createAd.productState' | translate}}</label>
                  <select class="form-select" aria-label="Default select example" id="productState"
                    formControlName="productState">
                    <option value="0">{{'createAd.new' | translate}}</option>
                    <option value="1">{{'createAd.used' | translate}}</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="clothingSize" class="form-label">{{'createAd.clothingSize' | translate}}</label>
                  <input type="text" class="form-control" id="clothingSize" formControlName="clothingSize">
                </div>
                <div class="mb-3">
                  <label for="shoesSize" class="form-label">{{'createAd.shoesSize' | translate}}</label>
                  <input type="number" class="form-control" id="shoesSize" formControlName="shoesSize">
                </div>

              </div>
              <div class="forChildren" *ngIf="forNewBorns">
                <div class="mb-3">
                  <label for="productState" class="form-label">{{'createAd.productState' | translate}}</label>
                  <select class="form-select" aria-label="Default select example" id="productState"
                    formControlName="productState">
                    <option value="0">{{'createAd.new' | translate}}</option>
                    <option value="1">{{'createAd.used' | translate}}</option>
                  </select>
                </div>

                <!-- <div class="mb-3">
                <div class="row g-2">
                  <div class="col-md">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" id="male" value="0" formControlName="gender">
                      <label class="form-check-label" for="male">
                        Male
                      </label>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" id="female" value="1" formControlName="gender" >
                      <label class="form-check-label" for="female">
                        Female
                      </label>
                    </div>
                  </div>
                </div>
              </div> -->
                <div class="mb-3">
                  <div class="col-md">
                    <label for="gender" class="form-label">{{'createAd.gender' | translate}}</label>
                    <select class="form-select" id="gender" aria-label="gender" formControlName="gender">
                      <option [value]="false">{{'createAd.male' | translate}}</option>
                      <option [value]="true">{{'createAd.female' | translate}}</option>
                    </select>
                  </div>
                </div>

                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="forNewBorns"
                      formControlName="forNewBorns">
                    <label class="form-check-label" for="forNewBorns">
                      {{'createAd.forNewBorns' | translate}}
                    </label>
                  </div>
                </div>
              </div>
              <div class="jewerlyAndAccessories" *ngIf="jewerlyAndAccessories">
                <div class="mb-3">
                  <label for="productState" class="form-label">{{'createAd.productState' | translate}}</label>
                  <select class="form-select" aria-label="Default select example" id="productState"
                    formControlName="productState">
                    <option value="0">{{'createAd.new' | translate}}</option>
                    <option value="1">{{'createAd.used' | translate}}</option>
                  </select>
                </div>
                <div class="mb-3">
                  <div class="col-md">
                    <label for="gender" class="form-label">{{'createAd.gender' | translate}}</label>
                    <select class="form-select" id="gender" aria-label="gender" formControlName="gender">
                      <option value="false">{{'createAd.male' | translate}}</option>
                      <option value="true">{{'createAd.female' | translate}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="productsAndDrinks mb-3" *ngIf="productsAndDrinks">
                <div class="row g-2">
                  <div class="col">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="1" id="isLocal" formControlName="isLocal">
                      <label class="form-check-label" for="isLocal">
                        {{'createAd.isLocal' | translate}}
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="1" id="isFrozen"
                        formControlName="isFrozen">
                      <label class="form-check-label" for="isFrozen">
                        {{'createAd.isFrozen' | translate}}
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="1" id="isNaturalDrink"
                        formControlName="isNaturalDrink">
                      <label class="form-check-label" for="isNaturalDrink">
                        {{'createAd.isNaturalDrink' | translate}}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="cigaretteAndAlcohol mb-3" *ngIf="cigaretteAndAlcohol">
                <div class="mb-3">
                  <label for="productState" class="form-label">{{'createAd.productStare' | translate}}</label>
                  <select class="form-select" aria-label="Default select example" id="productState"
                    formControlName="productState">
                    <option value="0">{{'createAd.new' | translate}}</option>
                    <option value="1">{{'createAd.used' | translate}}</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="alcoholVolume" class="form-label">{{'createAd.alcoholVolume' | translate}}</label>
                  <input type="number" class="form-control" id="alcoholVolume" formControlName="alcoholVolume">
                </div>
                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isLocal" formControlName="isLocal">
                    <label class="form-check-label" for="isLocal">
                      {{'createAd.isLocal' | translate}}
                    </label>
                  </div>
                </div>
              </div>
              <div class="tourism mb-3" *ngIf="tourism">
                <div class="mb-3">
                  <div class="row g-2">
                    <div class="col">
                      <label for="departureDay" class="form-label">{{'createAd.departureDay' | translate}}</label>
                      <input type="date" class="form-control" id="departureDay" formControlName="departureDay">
                    </div>
                    <div class="col">
                      <label for="returnDay" class="form-label">{{'createAd.returnDay' | translate}}</label>
                      <input type="date" class="form-control" id="returnDay" formControlName="returnDay">
                    </div>
                    <div class="col">
                      <label for="reservedTickets" class="form-label">{{'createAd.reversed' | translate}}</label>
                      <input type="number" class="form-control" id="reservedTickets" formControlName="reservedTickets">
                    </div>
                  </div>
                </div>
              </div>
              <div class="work mb-3" *ngIf="work">
                <!-- <div class="mb-3">
                <label for="paymentTime" class="form-label">Payment Time</label>
                <input type="number" class="form-control" id="paymentTime" formControlName="paymentTime">
              </div> -->
              </div>

              <div class="vehicle" *ngIf="showVehicle && buildVehicleForm">
                <div class="row g-2">
                  <div class="col mb-3">
                    <select class="form-select" aria-label="Default select example" id="mark" #mark
                      formControlName="mark" (change)="changedMark(mark.value)">
                      <!-- <option selected value="{{responseItem.mark}}" *ngIf="showMarkName">{{responseItem.sMark}}</option> -->
                      <option *ngFor="let mark of vehicleMark" value="{{mark.id}}">{{mark.name}}</option>
                    </select>
                  </div>
                  <div class="col">
                    <select class="form-select" aria-label="Default select example" id="model" #model
                      formControlName="model" (change)="changedMark(model.value)">
                      <!-- <option value="{{responseItem.model}}" *ngIf="showMarkName">{{responseItem.sModel}}</option> -->
                      <option *ngFor="let model of vehicleModel" value="{{model.id}}">{{model.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col mb-3">
                    <select class="form-select" aria-label="Default select example" id="engineSize"
                      formControlName="engineSize" (change)="showESizeName = false">
                      <!-- <option value="{{responseItem.engineType}}" *ngIf="showESizeName">{{vehicleESize}} L</option> -->
                      <option *ngFor="let eSize of vehicleEnginSize" value="{{eSize.id}}">{{eSize.size}} L</option>
                    </select>
                  </div>
                  <div class="col mb-3">
                    <select class="form-select" aria-label="Default select example" id="engineType"
                      formControlName="engineType" (change)="showETypeName = false">
                      <!-- <option value="{{responseItem.engineType}}" *ngIf="showETypeName">{{responseItem.sEngineType}}</option> -->
                      <option *ngFor="let eType of vehicleEngineType" value="{{eType.id}}">{{eType.engineType}}</option>
                    </select>
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col mb-3">
                    <select class="form-select" aria-label="Default select example" id="bodyType"
                      formControlName="bodyType" (change)="showBTypeName = false">
                      <!-- <option value="{{responseItem.bodyType}}" *ngIf="showBTypeName">{{responseItem.sBodyType}}</option> -->
                      <option *ngFor="let bType of vehicleBodyType" value="{{bType.id}}">{{bType.name}}</option>
                    </select>
                  </div>
                  <div class="col mb-3">
                    <select class="form-select" aria-label="Default select example" id="driveType"
                      formControlName="driveType" (change)="showDTypeName = false">
                      <!-- <option value="{{responseItem.driveType}}" *ngIf="showDTypeName">{{responseItem.sDriveType}}</option> -->
                      <option *ngFor="let dType of vehicleDriveType" value="{{dType.id}}">{{dType.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col mb-3">
                    <select class="form-select" aria-label="Default select example" id="transmissionType"
                      formControlName="transmissionType">
                      <option *ngFor="let tType of vehicleTransmissionType" value="{{tType.id}}">
                        {{tType.transmissionType}}</option>
                    </select>
                  </div>
                  <div class="col mb-3">
                    <select class="form-select" aria-label="Default select example" id="color" formControlName="color">
                      <option *ngFor="let color of vehicleColor" value="{{color.id}}">{{color.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="row g-2">
                  <div class="col mb-3">
                    <select class="form-select" aria-label="Default select example" id="wheel" formControlName="wheel">
                      <option *ngFor="let wheel of vehicleWheelType" value="{{wheel.id}}">{{wheel.wheel}}</option>
                    </select>
                  </div>
                  <div class="col mb-3">
                    <!-- <label for="paymentTime" class="form-label">Mileage</label> -->
                    <input type="number" class="form-control" placeholder="Mileage" id="mileage"
                      formControlName="mileage">
                  </div>
                </div>
              </div>

              <div class="exhcange" *ngIf="showAllForExchange">
                <div class="mb-3">
                  <div class="row g-2">
                    <div class="col">
                      <label for="sourceCurrencyID" class="form-label">{{'createAd.currency' |translate}}</label>
                      <select class="form-select" aria-label="Default select example" id="sourceCurrencyID"
                        formControlName="sourceCurrencyID">
                        <option value="3">AMD</option>
                      </select>
                    </div>
                    <div class="col">
                      <label for="destinationCurrencyID" class="form-label">{{'exchange.exchangeRate'
                        |translate}}</label>
                      <select class="form-select" aria-label="Default select example" id="destinationCurrencyID"
                        formControlName="destinationCurrencyID">
                        <option [value]="currency.id" *ngFor="let currency of currencyList">{{currency.currency}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="mb-3 row g-2">
                  <div class="col">
                    <label for="saleSummaRetail" class="form-label">{{'exchange.saleSummaRetail' | translate}}</label>
                    <input type="number" class="form-control" id="saleSummaRetail" formControlName="saleSummaRetail">
                  </div>
                  <div class="col">
                    <label for="buySummaRetail" class="form-label">{{'exchange.buySummaRetail' | translate}}</label>
                    <input type="number" class="form-control" id="buySummaRetail" formControlName="buySummaRetail">
                  </div>
                </div>
                <div class="mb-3 row g-2">
                  <div class="col">
                    <label for="saleSumma" class="form-label">{{'exchange.saleSumma' | translate}}</label>
                    <input type="number" class="form-control" id="saleSumma" formControlName="saleSumma">
                  </div>
                  <div class="col">
                    <label for="buySumma" class="form-label">{{'exchange.buySumma' | translate}}</label>
                    <input type="number" class="form-control" id="buySumma" formControlName="buySumma">
                  </div>
                </div>
              </div>

              <div class="services mb-3" *ngIf="services">
                <!-- <div class="mb-3">
                <label for="paymentTime" class="form-label">Payment Time</label>
                <input type="number" class="form-control" id="paymentTime" formControlName="paymentTime">
              </div> -->
                <div class="mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="transportation"
                      formControlName="transportation">
                    <label class="form-check-label" for="transportation">
                      {{'createAd.transportation' | translate}}
                    </label>
                  </div>
                </div>
              </div>
              <div class="acquaintance mb-3" *ngIf="acquaintance">
                <div class="mb-3">
                  <div class="col-md">
                    <label for="gender" class="form-label">{{'createAd.gender' | translate}}</label>
                    <select class="form-select" id="gender" aria-label="gender" formControlName="gender">
                      <option value="false">{{'createAd.male' | translate}}</option>
                      <option value="true">{{'createAd.female' | translate}}</option>
                    </select>
                  </div>
                </div>
                <div class="mb-3 row g-2">
                  <div class="col">
                    <div class="mb-3">
                      <label for="height" class="form-label">{{'createAd.height' | translate}}</label>
                      <input type="text" class="form-control" id="height" formControlName="height">
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3">
                      <label for="weight" class="form-label">{{'createAd.weight' | translate}}</label>
                      <input type="text" class="form-control" id="weight" formControlName="weight">
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="mb-3">
                    <label for="acquaintanceAim" class="form-label">{{'createAd.acquaintanceAim' | translate}}</label>
                    <input type="text" class="form-control" id="acquaintanceAim" formControlName="acquaintanceAim">
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="row g-3">
                  <div class="col-2">
                    <button type="submit" class="btn btn-success">{{'updateAd.update' | translate}}</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{'updateAd.cancel' |
              translate}}</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-2" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeDeleteModal>Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteAd()">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- show map -->
<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mapModalLabel">{{'createAd.map' | translate}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <agm-map [latitude]="lat" [zoom]="15" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- Govazd -->
<div class="modal fade" id="govazd" aria-labelledby="govazdLabel" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="govazdLabel">Ավելացնել գովազդների ցանկում</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="adForm.reset(); showAdSuccess = false; showAdError = false"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <form [formGroup]="adForm" (submit)="setAd(adForm.get('tariffID').value)" *ngIf="user && tariffs">
            <select class="form-select" aria-label="Default select example" #tariffAd id="ad"
              formControlName="tariffID">
              <option *ngFor="let tariff of tariffs" value="{{tariff.id}}">{{tariff.name}},
                <div class="price">
                  <div class="value">
                    <div *ngIf="tariff.salePrice == tariff.price; else showSalePrice" class="value">
                      <h5 class="value">{{tariff.salePrice}} AMD</h5>
                    </div>
                  </div>
                  <ng-template #showSalePrice>
                    <h5 class="value">
                      <h5 class="deleted">
                      </h5>
                      {{tariff.salePrice}} AMD
                    </h5>
                  </ng-template>
                </div>
              </option>
            </select>

            <div class="mb-3">
              <div class="text">
                {{'tariff.yourBalanceIs' | translate}} {{user.balance}} AMD
              </div>

              <div class="alert alert-danger" role="alert"
                *ngIf="adForm.get('tariffID').valid && adForm.get('tariffID').value*1 > user.balance">
                {{'tariff.insufficientBalance' | translate}}
              </div>

              <div class="mb-3">
                <div class="alert alert-danger" role="alert" *ngIf="showAdError">
                  {{'tariff.alreadyAdded' | translate}}
                </div>
                <div class="alert alert-success" role="alert" *ngIf="showAdSuccess">
                  {{'tariff.success' | translate}}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info"
          [disabled]="!adForm.valid || adForm.get('tariffID').value*1 > user.balance"
          (click)="setAd(adForm.get('tariffID').value)">{{'tariff.replenish' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="uploadPhoto" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload photo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="resItem">

        <input type="file" id="image" style="display: none;" multiple accept="image/png, image/jpeg"
          (change)="onUploadImage($event)">
        <label for="image">Upload Photo <i class="fas fa-pen"></i></label>

        <div class="current_images" style="margin-bottom: 20px;">
          <div class="photos" *ngFor="let img of imagePreview">
            <img [src]="img" alt="">
            <div class="x">
              <i style="cursor: pointer;" class="far fa-trash-alt" (click)="deletePreview(img)"></i>
            </div>
          </div>
        </div>

        <div class="current_images">
          <div class="photos" *ngFor="let photo of oldImagesLinks">
            <img [src]="photo" alt="">
            <div class="x">
              <i style="cursor: pointer;" class="far fa-trash-alt" (click)="deletAdPhoto(photo)"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveImages()">Save changes</button>
      </div>
    </div>
  </div>
</div>
