.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  width: 20%;
}
.showMessenge{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(115, 115, 121, 0.281);
  backdrop-filter: blur(5px);
}
.messege{
  position: absolute;
  top: 50%;
  left: 40%;
}
