<div class="wrapper">
  <form [formGroup]="changeGroup" (submit)="changePassword()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">{{'myPage.changeTab.phoneNumber' | translate}}</label>
      <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        formControlName="phoneNumber">
      <!-- <div id="emailHelp" class="form-text">{{'myPage.changeTab.messege' | translate}}</div> -->
    </div>
    <div class="mb-3">
      <label for="oldPassword" class="form-label">{{'myPage.changeTab.oldPassword' | translate}}</label>
      <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword">
    </div>
    <div class="mb-3">
      <label for="newPassword" class="form-label">{{'myPage.changeTab.newPassword' | translate}}</label>
      <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
    </div>
    <button class="btn btn-primary" [disabled]="!changeGroup.valid">{{'myPage.changeTab.submit' | translate}}</button>
  </form>
  <div class="showMessenge" *ngIf="showMessage">
    <div class="messege">
      <div class="alert alert-warning" role="alert">
        Updated
      </div>
    </div>
  </div>
</div>
