.wrapper {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
.wrapper aside {
  /* border: 1px solid black; */
  /* height: 400px; */
  padding: 5px;
}
.wrapper section {
  flex: 5;
  /* padding: 20px; */
  padding: 0 10px 0 20px;
  /* border: 1px solid black; */
}
.wrapper aside:first-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 4px 6px 20px 2px rgb(0 0 0 / 50%);
  height: 100vh;
  position: sticky;
  overflow-y: auto;
  top: 20px;
}
.wrapper aside:first-child::-webkit-scrollbar {
  display: none;
}
.wrapper aside:first-child .header {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.message {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-block {
  padding-bottom: 220px;
}
.load {
  width: 100%;
  display: flex;
  justify-content: center;
}
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-button {
  margin-bottom: 100px;
}
/* --------------------------------------------- */
img {
  height: 260px;
  width: 100%;
  object-fit: contain;
}

div [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.card {
  transition: 0.5s;
  cursor: pointer;
}
.card-title {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
}
.card-title i {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
  color: #ffa710;
}
.card-title i:hover {
  transform: scale(1.25) rotate(100deg);
  color: #18d4ca;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.card-text {
  height: 80px;
  line-height: 1.5em;
  /* height: 3em; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}
.colForMarginBottom,
.categoryName {
  margin-bottom: 20px;
}
.categoryName {
  text-align: center;
}
.row {
  /* justify-content: space-around; */
  margin-bottom: 5%;
}

.card-for-absolute {
  position: relative;
}
.vip {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  z-index: 100;
}
.bestPrice {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  z-index: 100;
}
.terxt-title {
  margin-left: 10px;
}

@media (min-width: 768px) {
  .col-md-3 {
    width: 25%;
  }
}
