<app-navbar></app-navbar>

<link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css"
  integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous">

<div class="container" *ngIf="user">
  <div class="row">
    <div class="col-md-3">
      <div class="osahan-account-page-left shadow-sm bg-white h-100">
        <div class="border-bottom p-4">
          <div class="osahan-user text-center">
            <div class="osahan-user-media">
              <!-- <img class="mb-3 rounded-pill shadow-sm mt-1" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="gurdeep singh osahan"> -->
              <img class="mb-3 rounded-pill shadow-sm mt-1"
                src="{{user.avatar == null ? 'https://bootdey.com/img/Content/avatar/avatar7.png': user.avatar}}"
                alt="">
              <div class="osahan-user-media-body">
                <h6 class="mb-2">{{user.firstName}}</h6>
                <p class="mb-1"><a href="tel:{{user.phoneNumber}}">{{user.phoneNumber}}</a></p>
                <p>{{user.email}}</p>
                <div class="likeDisLike" *ngIf="showRating">
                  <svg [ngClass]="{disLike:disLikeStyle}" (click)="disLike(sendDisLike = !sendDisLike)" version="1.1"
                    id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                    y="0px" viewBox="0 0 512.012 512.012" style="enable-background:new 0 0 512.012 512.012;"
                    xml:space="preserve">
                    <g>
                      <g>
                        <path d="M498.133,241.585c8.768-8.811,13.867-20.757,13.867-33.579c0-18.496-10.581-34.752-26.325-42.688
                                          c3.264-6.528,4.992-13.76,4.992-21.312c0-18.496-10.603-34.773-26.347-42.688c4.864-9.728,6.293-20.928,3.84-32.043
                                          c-4.779-21.611-25.109-37.269-48.341-37.269H224c-14.827,0-38.72,4.8-56.469,13.931c-7.424-20.544-27.136-35.264-50.197-35.264
                                          h-64C23.915,10.673,0,34.587,0,64.006v170.667c0,29.419,23.915,53.333,53.333,53.333H160c5.888,0,10.667-4.779,10.667-10.667
                                          v-4.075l2.539,1.28l61.461,133.12v72.341c0,3.243,1.472,6.315,3.989,8.341c0.683,0.512,16.533,12.992,38.677,12.992
                                          c24.683,0,64-39.061,64-85.333c0-29.184-10.453-65.515-16.981-85.333h131.776c28.715,0,53.141-21.248,55.659-48.363
                                          C513.173,267.099,508.096,252.486,498.133,241.585z M475.328,250.182c10.475,6.464,16.32,18.027,15.189,30.187
                                          c-1.493,16.235-16.597,28.971-34.389,28.971H309.333c-3.499,0-6.784,1.728-8.789,4.608c-1.984,2.901-2.432,6.592-1.173,9.856
                                          c0.192,0.533,20.629,54.656,20.629,92.203c0,34.944-30.976,64-42.667,64c-9.195,0-16.917-3.349-21.333-5.781v-68.885
                                          c0-1.536-0.341-3.072-1.003-4.48l-64-138.667c-1.003-2.176-2.731-3.968-4.907-5.056l-21.333-10.667
                                          c-3.307-1.664-7.253-1.451-10.368,0.448c-3.136,1.963-5.056,5.397-5.056,9.088v10.667h-96c-17.643,0-32-14.357-32-32V64.006
                                          c0-17.643,14.357-32,32-32h64c17.643,0,32,14.357,32,32c0,4.309,2.603,8.213,6.592,9.856c3.968,1.621,8.555,0.725,11.627-2.304
                                          C177.621,61.467,206.677,53.339,224,53.339h195.819c13.312,0,24.875,8.619,27.499,20.565c2.112,9.536-0.704,18.795-7.723,25.429
                                          c-3.029,2.837-4.139,7.168-2.816,11.136c1.323,3.947,4.8,6.763,8.917,7.232c13.461,1.536,23.637,12.843,23.637,26.304
                                          c0,7.339-3.008,14.208-8.405,19.328c-3.029,2.837-4.139,7.168-2.816,11.136c1.323,3.947,4.8,6.763,8.917,7.232
                                          c13.461,1.536,23.637,12.843,23.637,26.304c0,9.941-5.589,18.987-14.613,23.595c-3.413,1.771-5.611,5.227-5.781,9.088
                                          C470.123,244.529,472.064,248.155,475.328,250.182z" />
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M160,53.339c-5.888,0-10.667,4.779-10.667,10.667v192c0,5.888,4.779,10.667,10.667,10.667s10.667-4.779,10.667-10.667
                                          v-192C170.667,58.118,165.888,53.339,160,53.339z" />
                      </g>
                    </g>
                  </svg>
                  <span>{{ratingValue}}</span>
                  <svg [ngClass]="{like:likeStyle}" (click)="like(sendLike = !sendLike)" version="1.1" id="Capa_1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                      <g>
                        <path
                          d="M512,304c0-12.821-5.099-24.768-13.888-33.579c9.963-10.901,15.04-25.515,13.653-40.725
                                          c-2.496-27.115-26.923-48.363-55.637-48.363H324.352c6.528-19.819,16.981-56.149,16.981-85.333c0-46.272-39.317-85.333-64-85.333
                                          c-22.144,0-37.995,12.48-38.656,12.992c-2.539,2.027-4.011,5.099-4.011,8.341v72.341L173.205,237.44l-2.539,1.301v-4.075
                                          c0-5.888-4.779-10.667-10.667-10.667H53.333C23.915,224,0,247.915,0,277.333V448c0,29.419,23.915,53.333,53.333,53.333h64
                                          c23.061,0,42.773-14.72,50.197-35.264C185.28,475.2,209.173,480,224,480h195.819c23.232,0,43.563-15.659,48.341-37.248
                                          c2.453-11.136,1.024-22.336-3.84-32.064c15.744-7.915,26.347-24.192,26.347-42.688c0-7.552-1.728-14.784-4.992-21.312
                                          C501.419,338.752,512,322.496,512,304z M467.008,330.325c-4.117,0.491-7.595,3.285-8.917,7.232
                                          c-1.301,3.947-0.213,8.277,2.816,11.136c5.419,5.099,8.427,11.968,8.427,19.307c0,13.461-10.176,24.768-23.637,26.325
                                          c-4.117,0.491-7.595,3.285-8.917,7.232c-1.301,3.947-0.213,8.277,2.816,11.136c7.019,6.613,9.835,15.893,7.723,25.451
                                          c-2.624,11.904-14.187,20.523-27.499,20.523H224c-17.323,0-46.379-8.128-56.448-18.219c-3.051-3.029-7.659-3.925-11.627-2.304
                                          c-3.989,1.643-6.592,5.547-6.592,9.856c0,17.643-14.357,32-32,32h-64c-17.643,0-32-14.357-32-32V277.333c0-17.643,14.357-32,32-32
                                          h96V256c0,3.691,1.92,7.125,5.077,9.088c3.115,1.877,7.04,2.069,10.368,0.448l21.333-10.667c2.155-1.067,3.883-2.859,4.907-5.056
                                          l64-138.667c0.64-1.408,0.981-2.944,0.981-4.48V37.781C260.437,35.328,268.139,32,277.333,32C289.024,32,320,61.056,320,96
                                          c0,37.547-20.437,91.669-20.629,92.203c-1.237,3.264-0.811,6.955,1.173,9.856c2.005,2.88,5.291,4.608,8.789,4.608h146.795
                                          c17.792,0,32.896,12.736,34.389,28.992c1.131,12.16-4.715,23.723-15.189,30.187c-3.264,2.005-5.205,5.632-5.056,9.493
                                          s2.368,7.317,5.781,9.088c9.024,4.587,14.613,13.632,14.613,23.573C490.667,317.461,480.491,328.768,467.008,330.325z" />
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M160,245.333c-5.888,0-10.667,4.779-10.667,10.667v192c0,5.888,4.779,10.667,10.667,10.667s10.667-4.779,10.667-10.667
                                          V256C170.667,250.112,165.888,245.333,160,245.333z" />
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <ul class="nav nav-tabs flex-column border-0 pt-4 pl-4 pb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="addresses-tab" data-toggle="tab" href="#addresses" role="tab" aria-controls="addresses" aria-selected="false"><i class="icofont-location-pin"></i> Addresses</a>
                    </li>
                </ul> -->
      </div>
    </div>
    <div class="col-md-9">
      <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade  active show" id="addresses" role="tabpanel" aria-labelledby="addresses-tab">
            <h4 class="font-weight-bold mt-0 mb-4">{{'createAd.add' |translate}}</h4>
            <div class="row">

              <div class="col-md-4 col-sm-4 colForMarginBottom" *ngFor="let product of adsList">
                <div class="card card-block" (click)="productInfo(product)">
                  <!-- <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset"> -->
                  <img src="{{product.image == '' ? '../../../../../assets/images/noimage.png' : product.image}}"
                    alt="Photo of sunset">
                  <h5 class="card-title mt-3 mb-3">{{product.name}}</h5>
                  <p class="card-text">{{product.description}}</p>
                </div>
              </div>
            </div>

            <!-- <div class="row pt-2 pb-2">
                            <div class="col-md-6">
                                <div class="bg-white card addresses-item mb-4  shadow-sm">
                                    <div class="gold-members p-4">
                                        <div class="media">
                                            <div class="mr-3"><i class="icofont-location-pin icofont-3x"></i></div>
                                            <div class="media-body">
                                                <h6 class="mb-1">Other</h6>
                                                <p>Delhi Bypass Rd, Jawaddi Taksal, Ludhiana, Punjab 141002, India
                                                </p>
                                                <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3" data-toggle="modal" data-target="#add-address-modal" href="#"><i class="icofont-ui-edit"></i> EDIT</a> <a class="text-danger" data-toggle="modal" data-target="#delete-address-modal" href="#"><i class="icofont-ui-delete"></i> DELETE</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="bg-white card addresses-item mb-4  shadow-sm">
                                    <div class="gold-members p-4">
                                        <div class="media">
                                            <div class="mr-3"><i class="icofont-location-pin icofont-3x"></i></div>
                                            <div class="media-body">
                                                <h6 class="mb-1">Other</h6>
                                                <p>MT, Model Town Rd, Pritm Nagar, Model Town, Ludhiana, Punjab 141002, India
                                                </p>
                                                <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3" data-toggle="modal" data-target="#add-address-modal" href="#"><i class="icofont-ui-edit"></i> EDIT</a> <a class="text-danger" data-toggle="modal" data-target="#delete-address-modal" href="#"><i class="icofont-ui-delete"></i> DELETE</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="bg-white card addresses-item shadow-sm">
                                    <div class="gold-members p-4">
                                        <div class="media">
                                            <div class="mr-3"><i class="icofont-location-pin icofont-3x"></i></div>
                                            <div class="media-body">
                                                <h6 class="mb-1">Other</h6>
                                                <p>GNE Rd, Jawaddi Taksal, Ludhiana, Punjab 141002, India
                                                </p>
                                                <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3" data-toggle="modal" data-target="#add-address-modal" href="#"><i class="icofont-ui-edit"></i> EDIT</a> <a class="text-danger" data-toggle="modal" data-target="#delete-address-modal" href="#"><i class="icofont-ui-delete"></i> DELETE</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="bg-white card addresses-item shadow-sm">
                                    <div class="gold-members p-4">
                                        <div class="media">
                                            <div class="mr-3"><i class="icofont-location-pin icofont-3x"></i></div>
                                            <div class="media-body">
                                                <h6 class="mb-1">Other</h6>
                                                <p>GTTT, Model Town Rd, Pritm Nagar, Model Town, Ludhiana, Punjab 141002, India
                                                </p>
                                                <p class="mb-0 text-black font-weight-bold"><a class="text-primary mr-3" data-toggle="modal" data-target="#add-address-modal" href="#"><i class="icofont-ui-edit"></i> EDIT</a> <a class="text-danger" data-toggle="modal" data-target="#delete-address-modal" href="#"><i class="icofont-ui-delete"></i> DELETE</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
