 .chat-header {
  padding: 15px 20px;
  border-bottom: 2px solid #f4f7f6
}

 .chat-header img {
  float: left;
  border-radius: 40px;
  width: 40px
}

 .chat-header .chat-about {
  float: left;
  padding-left: 10px
}

 .chat-history {
  padding: 20px;
  border-bottom: 2px solid #fff
}

 .chat-history ul {
  padding: 0
}

 .chat-history ul li {
  list-style: none;
  margin-bottom: 30px
}

 .chat-history ul li:last-child {
  margin-bottom: 0px
}

 .chat-history .message-data {
  margin-bottom: 15px
}

 .chat-history .message-data img {
  border-radius: 40px;
  width: 40px
}

 .chat-history .message-data-time {
  color: #434651;
  padding-left: 6px
}

 .chat-history .message {
  color: #444;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  display: inline-block;
  position: relative
}

 .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px
}

 .chat-history .my-message {
  background: #efefef
}

 .chat-history .my-message:after {
  bottom: 100%;
  left: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 10px;
  margin-left: -10px
}

 .chat-history .other-message {
  background: #e8f1f3;
  text-align: right
}

 .chat-history .other-message:after {
  border-bottom-color: #e8f1f3;
  left: 93%
}

 .chat-message {
  padding: 20px
}

.online,
.offline,
.me {
  margin-right: 2px;
  font-size: 8px;
  vertical-align: middle
}

.online {
  color: #86c541
}

.offline {
  color: #e47297
}

.me {
  color: #1d8ecd
}

.float-right {
  float: right
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

@media only screen and (max-width: 767px) {
  .chat-app .people-list {
      height: 465px;
      width: 100%;
      overflow-x: auto;
      background: #fff;
      left: -400px;
      display: none
  }
  .chat-app .people-list.open {
      left: 0
  }
  .chat-app .chat {
      margin: 0
  }
  .chat-app .chat .chat-header {
      border-radius: 0.55rem 0.55rem 0 0
  }
  .chat-app .chat-history {
      height: 300px;
      overflow-x: auto
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .chat-app .chat-list {
      height: 650px;
      overflow-x: auto
  }
  .chat-app .chat-history {
      height: 600px;
      overflow-x: auto
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .chat-app .chat-list {
      height: 480px;
      overflow-x: auto
  }
  .chat-app .chat-history {
      height: calc(100vh - 350px);
      overflow-x: auto
  }
}
